<!--引入头部-->
<%- include("../part/header",{title:"长治学院学生心理健康",css:[]})%>
<!--主体内容-->
<div id="content">
	<div class="box w-m">
		<div class="bread w-m">
			<a href="/talk">交流</a>
			<span>> 心理倾诉</span>
		</div>
		<div class="consult-con">
			<div class="test-con box-small1 box-small">
				<div class="teacher">
					<div class="photo">
						<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
					</div>
					<div class="tea-intr">
						<h3><a href="">王筱菲</a></h3>
						<p>大数据2102班辅导员</p>
					</div>
				</div>
				<div class="tea-info">
					<p>已经帮助<span>1145</span>名学生</p>
					<p>倾听时长<span>9852</span>分钟</p>
					<div class="degree td">
						<span>好评度：</span>
						<i></i>
					</div>
				</div>
				<div class="consult-btn">
					<a href=""><span>倾诉</span></a>
				</div>
			</div>
			<div class="test-con box-small">
				<div class="teacher">
					<div class="photo">
						<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
					</div>
					<div class="tea-intr">
						<h3><a href="">王筱菲</a></h3>
						<p>大数据2102班辅导员</p>
					</div>
				</div>
				<div class="tea-info">
					<p>已经帮助<span>1145</span>名学生</p>
					<p>倾听时长<span>9852</span>分钟</p>
					<div class="degree td">
						<span>好评度：</span>
						<i></i>
					</div>
				</div>
				<div class="consult-btn">
					<a href=""><span>倾诉</span></a>
				</div>
			</div>
			<div class="test-con box-small">
				<div class="teacher">
					<div class="photo">
						<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
					</div>
					<div class="tea-intr">
						<h3><a href="">王筱菲</a></h3>
						<p>大数据2102班辅导员</p>
					</div>
				</div>
				<div class="tea-info">
					<p>已经帮助<span>1145</span>名学生</p>
					<p>倾听时长<span>9852</span>分钟</p>
					<div class="degree td">
						<span>好评度：</span>
						<i></i>
					</div>
				</div>
				<div class="consult-btn">
					<a href=""><span>倾诉</span></a>
				</div>
			</div>
			<div class="test-con box-small">
				<div class="teacher">
					<div class="photo">
						<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
					</div>
					<div class="tea-intr">
						<h3><a href="">王筱菲</a></h3>
						<p>大数据2102班辅导员</p>
					</div>
				</div>
				<div class="tea-info">
					<p>已经帮助<span>1145</span>名学生</p>
					<p>倾听时长<span>9852</span>分钟</p>
					<div class="degree td">
						<span>好评度：</span>
						<i></i>
					</div>
				</div>
				<div class="consult-btn">
					<a href=""><span>倾诉</span></a>
				</div>
			</div>
			<div class="test-con box-small">
				<div class="teacher">
					<div class="photo">
						<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
					</div>
					<div class="tea-intr">
						<h3><a href="">王筱菲</a></h3>
						<p>大数据2102班辅导员</p>
					</div>
				</div>
				<div class="tea-info">
					<p>已经帮助<span>1145</span>名学生</p>
					<p>倾听时长<span>9852</span>分钟</p>
					<div class="degree td">
						<span>好评度：</span>
						<i></i>
					</div>
				</div>
				<div class="consult-btn">
					<a href=""><span>倾诉</span></a>
				</div>
			</div>
		</div>
		<div class="consult-con">
			<div class="test-con box-small1 box-small boxsmall-other">
				<div class="teacher">
					<div class="photo">
						<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
					</div>
					<div class="tea-intr">
						<h3><a href="">王筱菲</a></h3>
						<p>大数据2102班辅导员</p>
					</div>
				</div>
				<div class="tea-info">
					<p>已经帮助<span>1145</span>名学生</p>
					<p>倾听时长<span>9852</span>分钟</p>
					<div class="degree td">
						<span>好评度：</span>
						<i></i>
					</div>
				</div>
				<div class="consult-btn">
					<a href=""><span>倾诉</span></a>
				</div>
			</div>
			<div class="test-con box-small boxsmall-other">
				<div class="teacher">
					<div class="photo">
						<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
					</div>
					<div class="tea-intr">
						<h3><a href="">王筱菲</a></h3>
						<p>大数据2102班辅导员</p>
					</div>
				</div>
				<div class="tea-info">
					<p>已经帮助<span>1145</span>名学生</p>
					<p>倾听时长<span>9852</span>分钟</p>
					<div class="degree td">
						<span>好评度：</span>
						<i></i>
					</div>
				</div>
				<div class="consult-btn">
					<a href=""><span>倾诉</span></a>
				</div>
			</div>
			<div class="test-con box-small boxsmall-other">
				<div class="teacher">
					<div class="photo">
						<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
					</div>
					<div class="tea-intr">
						<h3><a href="">王筱菲</a></h3>
						<p>大数据2102班辅导员</p>
					</div>
				</div>
				<div class="tea-info">
					<p>已经帮助<span>1145</span>名学生</p>
					<p>倾听时长<span>9852</span>分钟</p>
					<div class="degree td">
						<span>好评度：</span>
						<i></i>
					</div>
				</div>
				<div class="consult-btn">
					<a href=""><span>倾诉</span></a>
				</div>
			</div>
			<div class="test-con box-small boxsmall-other">
				<div class="teacher">
					<div class="photo">
						<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
					</div>
					<div class="tea-intr">
						<h3><a href="">王筱菲</a></h3>
						<p>大数据2102班辅导员</p>
					</div>
				</div>
				<div class="tea-info">
					<p>已经帮助<span>1145</span>名学生</p>
					<p>倾听时长<span>9852</span>分钟</p>
					<div class="degree td">
						<span>好评度：</span>
						<i></i>
					</div>
				</div>
				<div class="consult-btn">
					<a href=""><span>倾诉</span></a>
				</div>
			</div>
			<div class="test-con box-small boxsmall-other">
				<div class="teacher">
					<div class="photo">
						<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
					</div>
					<div class="tea-intr">
						<h3><a href="">王筱菲</a></h3>
						<p>大数据2102班辅导员</p>
					</div>
				</div>
				<div class="tea-info">
					<p>已经帮助<span>1145</span>名学生</p>
					<p>倾听时长<span>9852</span>分钟</p>
					<div class="degree td">
						<span>好评度：</span>
						<i></i>
					</div>
				</div>
				<div class="consult-btn">
					<a href=""><span>倾诉</span></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--引入尾部-->
<%- include("../part/foot",{js:[]})%>
