<!--引入头部-->
<%- include("../part/header",{title:"长治学院学生心理健康",css:[]})%>
<!--主体内容-->
<div id="content">
    <div class="box w-m">
        <div class="bread w-m">
            <a href="/talk">交流</a>
            <span>> 心理问答</span>
        </div>
        <div class="consult-con">
            <div class="test-con box-small1 box-small">
                <div class="teacher">
                    <div class="photo">
                        <a href="talkconsultation-space.html"><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
                    </div>
                    <div class="tea-intr">
                        <h3><a href="talkconsultation-space.html">宋志燕</a></h3>
                        <p>国家二级心理咨询师</p>
                    </div>
                </div>
                <div class="tea-info">
                    <p><span>311</span>名学生向她咨询</p>
                    <div class="degree">
                        <span>好评度：</span>
                        <i></i>
                    </div>
                </div>
                <div class="consult-btn">
                    <a href=""><span>咨询</span></a>
                </div>
            </div>
            <div class="test-con box-small">
                <div class="teacher">
                    <div class="photo">
                        <a href="talkconsultation-space.html"><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
                    </div>
                    <div class="tea-intr">
                        <h3><a href="talkconsultation-space.html">行高民</a></h3>
                        <p>中国心理学会会员</p>
                    </div>
                </div>
                <div class="tea-info">
                    <p><span>420</span>名学生向他咨询</p>
                    <div class="degree">
                        <span>好评度：</span>
                        <i></i>
                    </div>
                </div>
                <div class="consult-btn">
                    <a href=""><span>咨询</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--引入尾部-->
<%- include("../part/foot",{js:[]})%>