<!--引入头部-->
<%- include("../part/header",{title:"长治学院学生心理健康",css:[]})%>
<!--主体内容-->
<div id="content">
	<div class="section section2 consult w-m">
		<div class="part-title part-title2">
			<h2><a href="/talk/talk-consultation">心理咨询</a></h2>
			<p class="decoration"><span>CONSULTATION</span></p>
			<p class="more"><a href="">查看更多</a></p>
		</div>
		<div class="consult-con">
			<ul>
				<li>
					<div class="teacher">
						<a href="/talk/talk-consultation/tc-space" class="photo"></a>
						<div class="tea-intr">
							<h3><a href="/talk/talk-consultation/tc-space">方莲</a></h3>
							<p>心理动力学取向咨询师</p>
						</div>
					</div>
					<div class="tea-info">
						<p><span>311</span>名学生向她咨询</p>
						<div class="degree">
							<span>好评度：</span>
							<i></i>
						</div>
					</div>
					<div class="consult-btn">
						<a href="/talk/talk-consultation/tc-space"><span>咨询</span></a>
					</div>
				</li>
				<li>
					<div class="teacher">
						<a href="/talk/talk-consultation/tc-space" class="photo"></a>
						<div class="tea-intr">
							<h3><a href="/talk/talk-consultation/tc-space">方莲</a></h3>
							<p>心理动力学取向咨询师</p>
						</div>
					</div>
					<div class="tea-info">
						<p><span>311</span>名学生向她咨询</p>
						<div class="degree">
							<span>好评度：</span>
							<i></i>
						</div>
					</div>
					<div class="consult-btn">
						<a href="/talk/talk-consultation/tc-space"><span>咨询</span></a>
					</div>
				</li>
				<li>
					<div class="teacher">
						<a href="/talk/talk-consultation/tc-space" class="photo"></a>
						<div class="tea-intr">
							<h3><a href="/talk/talk-consultation/tc-space">方莲</a></h3>
							<p>心理动力学取向咨询师</p>
						</div>
					</div>
					<div class="tea-info">
						<p><span>311</span>名学生向她咨询</p>
						<div class="degree">
							<span>好评度：</span>
							<i></i>
						</div>
					</div>
					<div class="consult-btn">
						<a href="/talk/talk-consultation/tc-space"><span>咨询</span></a>
					</div>
				</li>
				<li>
					<div class="teacher">
						<a href="/talk/talk-consultation/tc-space" class="photo"></a>
						<div class="tea-intr">
							<h3><a href="/talk/talk-consultation/tc-space">方莲</a></h3>
							<p>心理动力学取向咨询师</p>
						</div>
					</div>
					<div class="tea-info">
						<p><span>311</span>名学生向她咨询</p>
						<div class="degree">
							<span>好评度：</span>
							<i></i>
						</div>
					</div>
					<div class="consult-btn">
						<a href="/talk/talk-consultation/tc-space"><span>咨询</span></a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="section section2 pourout w-m">
		<div class="part-title part-title2">
			<h2><a href="/talk/talk-pourout">心理倾诉</a></h2>
			<p class="decoration"><span>POUR OUT</span></p>
			<p class="more"><a href="">查看更多</a></p>
		</div>
		<div class="consult-con">
			<ul>
				<li>
					<div class="teacher">
						<a href="/talk/talk-pourout/tp-space" class="photo"><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
						<div class="tea-intr">
							<h3><a href="/talk/talk-pourout/tp-space">王筱菲</a></h3>
							<p>大数据2102班辅导员</p>
						</div>
					</div>
					<div class="tea-info">
						<p>已经帮助<span>1145</span>名学生</p>
						<p>倾听时长<span>9852</span>分钟</p>
						<div class="degree td">
							<span>好评度：</span>
							<i></i>
						</div>
					</div>
					<div class="consult-btn">
						<a href="/talk/talk-pourout/tp-space"><span>倾诉</span></a>
					</div>
				</li>
				<li>
					<div class="teacher">
						<a href="/talk/talk-pourout/tp-space" class="photo"><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
						<div class="tea-intr">
							<h3><a href="/talk/talk-pourout/tp-space">王筱菲</a></h3>
							<p>大数据2102班辅导员</p>
						</div>
					</div>
					<div class="tea-info">
						<p>已经帮助<span>1145</span>名学生</p>
						<p>倾听时长<span>9852</span>分钟</p>
						<div class="degree td">
							<span>好评度：</span>
							<i></i>
						</div>
					</div>
					<div class="consult-btn">
						<a href="/talk/talk-pourout/tp-space"><span>倾诉</span></a>
					</div>
				</li>
				<li>
					<div class="teacher">
						<a href="/talk/talk-pourout/tp-space" class="photo"><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
						<div class="tea-intr">
							<h3><a href="/talk/talk-pourout/tp-space">王筱菲</a></h3>
							<p>大数据2102班辅导员</p>
						</div>
					</div>
					<div class="tea-info">
						<p>已经帮助<span>1145</span>名学生</p>
						<p>倾听时长<span>9852</span>分钟</p>
						<div class="degree td">
							<span>好评度：</span>
							<i></i>
						</div>
					</div>
					<div class="consult-btn">
						<a href="/talk/talk-pourout/tp-space"><span>倾诉</span></a>
					</div>
				</li>
				<li>
					<div class="teacher">
						<a href="/talk/talk-pourout/tp-space" class="photo"><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
						<div class="tea-intr">
							<h3><a href="/talk/talk-pourout/tp-space">王筱菲</a></h3>
							<p>大数据2102班辅导员</p>
						</div>
					</div>
					<div class="tea-info">
						<p>已经帮助<span>1145</span>名学生</p>
						<p>倾听时长<span>9852</span>分钟</p>
						<div class="degree td">
							<span>好评度：</span>
							<i></i>
						</div>
					</div>
					<div class="consult-btn">
						<a href="/talk/talk-pourout/tp-space"><span>倾诉</span></a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="section section2 a-q w-m">
		<div class="part-title part-title2">
			<h2><a href="/talk/talk-QA">心理问答</a></h2>
			<p class="decoration"><span>QUESTIONS & ANSWERS</span></p>
			<p class="more"><a href="">查看更多</a></p>
		</div>
		<div class="talking-con">
			<div class="ans-ques w-d">
				<div class="ques ques2">
					<h3><a href="">心思极度敏感的人怎么办？</a></h3>
					<div class="btn2">
						<a href=""><span>关注问题</span></a>
					</div>
					<p>客观事实分析，可能别人的一句言语并没有那样的意思，但是我自己总能最周围的一点风吹草动，草木皆兵…… </p>
				</div>
				<div class="ans ans2">
					<div class="ans-user ans-user2">
						<div class="user-photo">
							<a href=""><img src="" alt=""></a>
						</div>
						<div class="user-name">
							<a href=""><span>董妮妮</span></a>
						</div>
						<span class="span">回答</span>
						<div class="btn2 btn2-right">
							<a href=""><span>收藏回答</span></a>
						</div>
					</div>
					<div class="ans-con ans-con2">
						<p>回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容……</p>
					</div>
					<div class="ans-info ans-info2">
						<span>20分钟前</span>
						<span class="ainfo-span2">|</span>
						<span class="ainfo-span2">102.1k人浏览</span>
						<div class="btn rightbtn-short">
							<a href=""><span>我来答</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="ans-ques w-d">
				<div class="ques ques2">
					<h3><a href="">心思极度敏感的人怎么办？</a></h3>
					<div class="btn2">
						<a href=""><span>关注问题</span></a>
					</div>
					<p>客观事实分析，可能别人的一句言语并没有那样的意思，但是我自己总能最周围的一点风吹草动，草木皆兵…… </p>
				</div>
				<div class="ans ans2">
					<div class="ans-user ans-user2">
						<div class="user-photo">
							<a href=""><img src="" alt=""></a>
						</div>
						<div class="user-name">
							<a href=""><span>董妮妮</span></a>
						</div>
						<span class="span">回答</span>
						<div class="btn2 btn2-right">
							<a href=""><span>收藏回答</span></a>
						</div>
					</div>
					<div class="ans-con ans-con2">
						<p>回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容……</p>
					</div>
					<div class="ans-info ans-info2">
						<span>20分钟前</span>
						<span class="ainfo-span2">|</span>
						<span class="ainfo-span2">102.1k人浏览</span>
						<div class="btn rightbtn-short">
							<a href=""><span>我来答</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--引入尾部-->
<%- include("../part/foot",{js:[]})%>