<!--引入头部-->
<%- include("../part/header",{title:"长治学院学生心理健康",css:[]})%>
<!--主体内容-->
<div id="content">
	<div class="box w-m">
		<div class="bread w-m">
			<p>
				<a href="talk.html"><span>交流</span></a>
				<span>></span>
				<a href="talk-pourout.html"><span>心理倾诉</span></a>
				<span>></span>
			</p>
			<h4>王筱菲倾诉师个人主页</h4>
		</div>
		<div class="space-con">
			<div class="space-top">
				<div class="bg">
					<h2>心灵花园</h2>
					<p>这是一个能量场，充满爱，包容，温暖。让我用心陪伴，用爱倾听，让我们一起健康快乐地成长！</p>
					<div class="photo">
						<div class="teacher">
							<i></i>
							<h3>王筱菲</h3>
							<p>大数据2102班辅导员</p>
						</div>
						<div class="degree">
							<span>好评度：</span>
							<i></i>
						</div>
						<div class="service-operation">
							<div class="service-info">
								<div id="service-info">
									<h2>1232</h2>
									<p>倾听次数</p>
								</div>
								<div id="service-info">
									<h2>2344</h2>
									<p>倾听时长</p>
								</div>
								<div id="service-info">
									<h2>2000</h2>
									<p>帮助人数</p>
								</div>
								<div id="service-info">
									<h2>2100</h2>
									<p>感谢信</p>
								</div>
							</div>
							<div class="operation-user">
								<div id="operation-user"><p>分享</p><p>（1900）</p></div>
								<div id="operation-user"><p>点赞</p><p>（2400）</p></div>
								<div id="operation-user"><p>关注</p><p>（2000）</p></div>
							</div>
						</div>

					</div>
					<div class="age">90后</div>
				</div>

			</div>

		</div>
	</div>
</div>
<!--引入尾部-->
<%- include("../part/foot",{js:[]})%>
