<!--引入头部-->
<%- include("../part/header",{title:"长治学院学生心理健康",css:[]})%>
<!--主体内容-->
<div id="content">
	<div class="section section2 consult w-m">
		<div class="part-title part-title2 play-title">
			<h2><a href="play/play-treeHoles">树洞</a></h2>
			<p class="decoration"><span>TREE HOLE</span></p>
			<p class="more"><a href="play/play-treeHoles">查看更多</a></p>
		</div>
		<div>
			<div id="treehole">
				<div class="treehole-con">
					<p>压力真的很大，希望有个人可以聊天。</p>
					<div class="treehole-box">
						<div class="treeh-info">
							<span>匿名</span>
							<span>|</span>
							<span>10分钟前</span>
							<span>|</span>
							<span>67人浏览</span>
							<span>|</span>
							<span>12评论</span>
						</div>
						<div class="btn">
							<a href=""><span>抱抱</span></a>
						</div>
					</div>
				</div>
				<div class="treehole-con">
					<p>压力真的很大，希望有个人可以聊天。</p>
					<div class="treehole-box">
						<div class="treeh-info">
							<span>匿名</span>
							<span>|</span>
							<span>10分钟前</span>
							<span>|</span>
							<span>67人浏览</span>
							<span>|</span>
							<span>12评论</span>
						</div>
						<div class="btn">
							<a href=""><span>抱抱</span></a>
						</div>
					</div>
				</div>
			</div>
			<div id="treehole" class="treehole">
				<div class="treehole-con">
					<p>压力真的很大，希望有个人可以聊天。</p>
					<div class="treehole-box">
						<div class="treeh-info">
							<span>匿名</span>
							<span>|</span>
							<span>10分钟前</span>
							<span>|</span>
							<span>67人浏览</span>
							<span>|</span>
							<span>12评论</span>
						</div>
						<div class="btn">
							<a href=""><span>抱抱</span></a>
						</div>
					</div>
				</div>
				<div class="treehole-con">
					<p>压力真的很大，希望有个人可以聊天。</p>
					<div class="treehole-box">
						<div class="treeh-info">
							<span>匿名</span>
							<span>|</span>
							<span>10分钟前</span>
							<span>|</span>
							<span>67人浏览</span>
							<span>|</span>
							<span>12评论</span>
						</div>
						<div class="btn">
							<a href=""><span>抱抱</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section section2 pourout w-m">
		<div class="part-title part-title2 play-title">
			<h2><a href="play/play-fortunate">小确幸</a></h2>
			<p class="decoration"><span>REAL HAPPINIESS</span></p>
			<p class="more"><a href="play/play-fortunate">查看更多</a></p>
		</div>
		<div class="consult-con">
			<div class="cartoon-con heal realhappy rhappy2">
				<ul>
					<li>
						<a href=""><img src="" alt=""></a>
					</li>
					<li>
						<a href=""><img src="" alt=""></a>
					</li>
				</ul>
				<p>大雨过后，是一天中最温柔和热闹的时刻。</p>
				<p>下班回家，菜市场买菜，湿漉漉的地面，还有温柔的夕……</p>
				<div class="heal-info rhappy-info rhappy-info2">
					<a href=""><span>张毅</span></a>
					<div class="btn">
						<a href=""><span>小确幸</span></a>
					</div>
				</div>
			</div>
			<div class="cartoon-con heal realhappy rhappy2">
				<ul>
					<li>
						<a href=""><img src="" alt=""></a>
					</li>
					<li>
						<a href=""><img src="" alt=""></a>
					</li>
				</ul>
				<p>大雨过后，是一天中最温柔和热闹的时刻。</p>
				<p>下班回家，菜市场买菜，湿漉漉的地面，还有温柔的夕……</p>
				<div class="heal-info rhappy-info rhappy-info2">
					<a href=""><span>张毅</span></a>
					<div class="btn">
						<a href=""><span>小确幸</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section section2 a-q w-m">
		<div class="part-title part-title2 play-title">
			<h2><a href="play/play-smileWall">微笑墙</a></h2>
			<p class="decoration"><span>SMILE WALL</span></p>
			<p class="more"><a href="play/play-smileWall">查看更多</a></p>
		</div>
		<div>
			<div id="treehole">
				<div class="smilewall-con">
					<div class="smilepic">
						<div id="smilepic-big">
							<a href=""><img src="" alt=""></a>
						</div>
						<div id="smilepic-small">
							<div class="smilepic-sma">
								<a href=""><img src="" alt=""></a>
							</div>
							<div class="smilepic-sma">
								<a href=""><img src="" alt=""></a>
							</div>
						</div>
					</div>
					<div class="user-focus">
						<div class="user-small">
							<div class="usersmall-top">
								<div class="photo">
									<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
								</div>
								<div class="usersmall-intr">
									<h3><a href="">高兴妍</a></h3>
									<p>大数据2102班</p>
								</div>
							</div>
							<div class="btn">
								<a href=""><span>关注</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="smilewall-con">
					<div class="smilepic">
						<div id="smilepic-big">
							<a href=""><img src="" alt=""></a>
						</div>
						<div id="smilepic-small">
							<div class="smilepic-sma">
								<a href=""><img src="" alt=""></a>
							</div>
							<div class="smilepic-sma">
								<a href=""><img src="" alt=""></a>
							</div>
						</div>
					</div>
					<div class="user-focus">
						<div class="user-small">
							<div class="usersmall-top">
								<div class="photo">
									<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
								</div>
								<div class="usersmall-intr">
									<h3><a href="">高兴妍</a></h3>
									<p>大数据2102班</p>
								</div>
							</div>
							<div class="btn">
								<a href=""><span>关注</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="treehole" class="treehole">
				<div class="smilewall-con">
					<div class="smilepic">
						<div id="smilepic-big">
							<a href=""><img src="" alt=""></a>
						</div>
						<div id="smilepic-small">
							<div class="smilepic-sma">
								<a href=""><img src="" alt=""></a>
							</div>
							<div class="smilepic-sma">
								<a href=""><img src="" alt=""></a>
							</div>
						</div>
					</div>
					<div class="user-focus">
						<div class="user-small">
							<div class="usersmall-top">
								<div class="photo">
									<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
								</div>
								<div class="usersmall-intr">
									<h3><a href="">高兴妍</a></h3>
									<p>大数据2102班</p>
								</div>
							</div>
							<div class="btn">
								<a href=""><span>关注</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="smilewall-con">
					<div class="smilepic">
						<div id="smilepic-big">
							<a href=""><img src="" alt=""></a>
						</div>
						<div id="smilepic-small">
							<div class="smilepic-sma">
								<a href=""><img src="" alt=""></a>
							</div>
							<div class="smilepic-sma">
								<a href=""><img src="" alt=""></a>
							</div>
						</div>
					</div>
					<div class="user-focus">
						<div class="user-small">
							<div class="usersmall-top">
								<div class="photo">
									<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
								</div>
								<div class="usersmall-intr">
									<h3><a href="">高兴妍</a></h3>
									<p>大数据2102班</p>
								</div>
							</div>
							<div class="btn">
								<a href=""><span>关注</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--引入尾部-->
<%- include("../part/foot",{js:[]})%>

