<!--轮播图-->
<div class="banner">
    <div id="wrap">
        <ul class="pict">
            <li>
                <img src="">1
            </li>
            <li>
                <img src="">2
            </li>
            <li>
                <img src="">3
            </li>
            <li>
                <img src="">4
            </li>
            <li>
                <img src="">1
            </li>
        </ul>
        <ul class="tab">
            <li class="on"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="prev"><</div>
        <div class="next">></div>
    </div>
</div>
<script src="/js/part/banner.js"></script>