    <div id="foot">
        <div class="foot-con" class="w-m">CopyRight© 2019长治学院学生心理健康</div>
    </div>
    <script src="/js/part/header.js"></script>
    <%js.forEach(v=>{%>
        <script src="/js/<%=v%>.js"></script>
    <%})%>
</body>
</html>