<!--引入头部-->
<%- include("../part/header",{title:"长治学院学生心理健康",css:[]})%>
<!--主体内容-->
<div id="content">
	<div class="box w-m">
		<div class="bread w-m">
			<p>
				<a href="fun.html"><span>娱乐</span></a>
				<span>></span>
				<a href="fun-cartoons.html"><span>心理漫画</span></a>
				<span>></span>
			</p>
			<h4>情绪</h4>
		</div>
		<div class="page-con">
			<ul>
				<li id="a" class="top">
					<div class="cartoonpage-img"><a href="funcartoons-details.html"><img src="" alt=""></a></div>
					<p class="cartoonpage-info"><a href="funcartoons-details.html">道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理</a></p>
					<div class="cartoonpage-operate">
						<p><span>132</span>赞同</p>
						<p><span>83</span>评论</p>
						<a href=""><i></i></a>
					</div>
				</li>
				<li class="top">
					<div class="cartoonpage-img"><a href="funcartoons-details.html"><img src="" alt=""></a></div>
					<p class="cartoonpage-info"><a href="funcartoons-details.html">道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理</a></p>
					<div class="cartoonpage-operate">
						<p><span>132</span>赞同</p>
						<p><span>83</span>评论</p>
						<a href=""><i></i></a>
					</div>
				</li>
				<li class="top">
					<div class="cartoonpage-img"><a href="funcartoons-details.html"><img src="" alt=""></a></div>
					<p class="cartoonpage-info"><a href="funcartoons-details.html">道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理</a></p>
					<div class="cartoonpage-operate">
						<p><span>132</span>赞同</p>
						<p><span>83</span>评论</p>
						<a href=""><i></i></a>
					</div>
				</li>
			</ul>
			<ul>
				<li id="a">
					<div class="cartoonpage-img"><a href="funcartoons-details.html"><img src="" alt=""></a></div>
					<p class="cartoonpage-info"><a href="funcartoons-details.html">道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理</a></p>
					<div class="cartoonpage-operate">
						<p><span>132</span>赞同</p>
						<p><span>83</span>评论</p>
						<a href=""><i></i></a>
					</div>
				</li>
				<li>
					<div class="cartoonpage-img"><a href="funcartoons-details.html"><img src="" alt=""></a></div>
					<p class="cartoonpage-info"><a href="funcartoons-details.html">道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理</a></p>
					<div class="cartoonpage-operate">
						<p><span>132</span>赞同</p>
						<p><span>83</span>评论</p>
						<a href=""><i></i></a>
					</div>
				</li>
				<li>
					<div class="cartoonpage-img"><a href="funcartoons-details.html"><img src="" alt=""></a></div>
					<p class="cartoonpage-info"><a href="funcartoons-details.html">道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理</a></p>
					<div class="cartoonpage-operate">
						<p><span>132</span>赞同</p>
						<p><span>83</span>评论</p>
						<a href=""><i></i></a>
					</div>
				</li>
			</ul>
			<ul>
				<li id="a">
					<div class="cartoonpage-img"><a href="funcartoons-details.html"><img src="" alt=""></a></div>
					<p class="cartoonpage-info"><a href="funcartoons-details.html">道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理</a></p>
					<div class="cartoonpage-operate">
						<p><span>132</span>赞同</p>
						<p><span>83</span>评论</p>
						<a href=""><i></i></a>
					</div>
				</li>
				<li>
					<div class="cartoonpage-img"><a href="funcartoons-details.html"><img src="" alt=""></a></div>
					<p class="cartoonpage-info"><a href="funcartoons-details.html">道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理</a></p>
					<div class="cartoonpage-operate">
						<p><span>132</span>赞同</p>
						<p><span>83</span>评论</p>
						<a href=""><i></i></a>
					</div>
				</li>
				<li>
					<div class="cartoonpage-img"><a href="funcartoons-details.html"><img src="" alt=""></a></div>
					<p class="cartoonpage-info"><a href="funcartoons-details.html">道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理</a></p>
					<div class="cartoonpage-operate">
						<p><span>132</span>赞同</p>
						<p><span>83</span>评论</p>
						<a href=""><i></i></a>
					</div>
				</li>
			</ul>
			<ul>
				<li id="a">
					<div class="cartoonpage-img"><a href="funcartoons-details.html"><img src="" alt=""></a></div>
					<p class="cartoonpage-info"><a href="funcartoons-details.html">道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理道理</a></p>
					<div class="cartoonpage-operate">
						<p><span>132</span>赞同</p>
						<p><span>83</span>评论</p>
						<a href=""><i></i></a>
					</div>
				</li>
			</ul>

		</div>
	</div>
</div>
<!--引入尾部-->
<%- include("../part/foot",{js:[]})%>
