<!--引入头部-->
<%- include("../part/header",{title:"长治学院学生心理健康",css:[]})%>
<!--主体内容-->
<div id="content">
	<div class="box w-m">
		<div class="bread w-m">
			<a href="/fun">娱乐</a>
			<a href="/fun/fun-jokes">> 哈哈笑话</a>
			<span>> </span>
		</div>
		<div class="detail-con">
			<div class="left">
				<div class="jokes-con">
					<div class="title-detail">
						<div class="joke-title">
							<h2>物理爱好者</h2>
							<!-- <p><a href="">萧妮妮</a></p> -->
						</div>
						<div class="joke-btn">
							<div class="btn btn-pre"><a href=""><span>上一篇</span></a></div>
							<div class="btn"><a href=""><span>下一篇</span></a></div>
						</div>
					</div>
					<p class="jokescon">笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内笑话内容笑话内容笑话内容笑话内容笑话内容</p>
					<div class="joke-img"><img src="" alt=""></div>
				</div>
				<div id="comment">
					<textarea>踩个脚印~</textarea>
					<div class="btn">评论</div>
				</div>
				<div id="comment-con">
					<h3>5条评论</h3>
					<ul>
						<li>
							<div class="user">
								<div class="user-photo"><a href=""><img src="" alt=""></a></div>
								<div class="user-info">
									<h5><a href="">王筱菲</a></h5>
									<a href="">网络1902班辅导员</a>
								</div>
							</div>
							<p>评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容回答内容回答内容回答内容回答内容回答内容回答内容</p>
							<div class="comment-info">
								<p>2021-12-22 20:20</p>
								<div class="operation">
									<div class="operate-btn good-sbtn"><a href=""><i></i><span>120</span></a></div>
									<div class="operate-btn comment-sbtn"><a href=""><i></i><span>300</span></a></div>
								</div>
							</div>
						</li>
						<li>
							<div class="user">
								<div class="user-photo"><a href=""><img src="" alt=""></a></div>
								<div class="user-info">
									<h5><a href="">王筱菲</a></h5>
									<a href="">网络1902班辅导员</a>
								</div>
							</div>
							<p>评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容回答内容回答内容回答内容回答内容回答内容回答内容</p>
							<div class="comment-info">
								<p>2021-12-22 20:20</p>
								<div class="operation">
									<div class="operate-btn good-sbtn"><a href=""><i></i><span>120</span></a></div>
									<div class="operate-btn comment-sbtn"><a href=""><i></i><span>300</span></a></div>
								</div>
							</div>
						</li>
					</ul>
					<div class="more-com"><a href="">更多评论(3)</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--引入尾部-->
<%- include("../part/foot",{js:[]})%>
