<!--引入头部-->
<%if(_id){%>
    <!-- <%console.log(_id);console.log(username)%> -->
    <%- include("../part/header",{title:"长治学院学生心理健康",css:["detail"],username})%>
<%}else{%>
    <%- include("../part/header",{title:"长治学院学生心理健康",css:["detail"],username:null})%>
<%}%>

<!--主体内容-->
<div id="content">
    <div class="box w-m">
        <div class="bread w-m">
            <p>
                <a href="/fun"><span>娱乐</span></a>
                <span>></span>
                <a href="/fun/fun-shortFilms"><span>心理短片</span></a>
                <span>></span>
            </p>
            <h4>《灰色怪圈》</h4>
        </div>
        <div class="video-playbox">
            <iframe src="//player.bilibili.com/player.html?aid=45240466&cid=79208171&page=1" scrolling="no"
                    border="0"
                    frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
        </div>
        <div class="video-related">
            <div class="vr-left">
                <div class="video-itd bcr">
                    <div class="itd-top">
                        <h2 class="video-title">《灰色怪圈》</h2>
                        <i class="clc"></i>
                        <i class="praise"></i>
                    </div>
                    <p>【抑郁微电影】抑郁症剧情科普短片</p>
                </div>
                <div class="comment-area">
                    <div class="comment-box bcr">
                        <textarea id="comment" cols="100%" rows="7" placeholder="留下脚印~"></textarea>
                        <div class="comment-btn">评论</div>
                    </div>
                    <div class="comment-public">
                        <p><span class="comment-num">5</span>条评论</p>
                        <ul class="comment-list bcr">
                            <li>
                                <div class="userinfo">
                                    <a href="#" class="user-pic"><img src="../../images/u3412.png" alt=""></a>
                                    <p>
                                        <a href="/talk/tp-space" class="username">王筱菲</a>
                                        <span class="usertitle">网络1902班辅导员</span>
                                    </p>
                                </div>
                                <div class="comment-content">
                                    <pre>
笔记：
1.特质心理学（trait psychology）通过五个维度对人进行定义，这也是人与人之间产生差异的原因。这五个维度是OCEAN：
    O: open to experience 拥抱各种经历，区别于那些相对封闭的人。
    C: conscientiousness 有意识的，区别于那些对生活缺乏热情的人（lackadaisical）
    E: extroversion 外向型，区别于内向型人（introvert）
    A: agreeable 讨好型，区别于常与人唱反调的人
    N：neurotic individials 神经质的人，区别于情绪稳定的人
2.人有三大天性：
    （1）生物天性
    （2）社会天性
    （3）特质——决定你的独特性的东西
3.外向型与内向型人的区别
    外向型的一个特点是他们需要刺激，而内向型在周围刺激减少时，会有更好的表现。
    外向型与内向型的交流方式是不同的。
    外向型倾向于在社交活动中有更多亲密的行为，喜欢黑白分明、具体、简单的语言；
    内向型则倾向于复杂、视情况而定的，模棱两可的语言。
4.我们是否被这些性格类型给定义了呢？
    正是你所拥有的这些特质，让我们更加了解你，甚至爱上你，而不仅仅是因为你属于某一种类型。
    是什么让我们与众不同？
    是我们生命中的行为举止，那些事关我们个人生活的东西。
    有时候，你会有一些失常的行为，这些就是你的自由特性。
    自由特性：当我们生命中核心关切的需要被推动的时候，我们显示出来的特性。这是真正重要的东西。所以，不要问别人：“你到底是什么性格类型？”而要问，“你生命中核心的东西是什么？”
几个小词汇：
Intriguing 有趣的
Lackadaisical 无精打采的，萎靡不振的
Introvert 性格内向的人
Agreeable 讨好人的
Audacious 大胆的
                                </pre>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="vr-right">
                <div class="video-heat bcr">
                    <div class="video-watching">
                        <img src="../../images/u3412.png" alt="" class="wc-fir">
                        <img src="../../images/u3412.png" alt="" class="wc-sec">
                        <img src="../../images/u3412.png" alt="" class="wc-thi">
                        <p><span>23</span>人正在看</p>
                    </div>
                    <p class="seen"><span>503</span>人看过</p>
                    <p class="collected"><span>103</span>人收藏</p>
                    <p class="liked"><span>200</span>人点赞</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--引入尾部-->
<%- include("../part/foot",{js:[]})%>