<!--引入头部-->
<%- include("../part/header",{title:"长治学院学生心理健康",css:[]})%>
<!--主体内容-->
<div id="content">
	<div class="box w-m">
		<div class="bread w-m">
			<a href="/fun">娱乐</a>
			<span>> 漫画</span>
		</div>
		<div class="consult-con">
			<div class="short-film short-film2 box-small1 box-small">
				<div class="vid"><a href="/fun/fun-cartoons/fc-page"><img src="http://5b0988e595225.cdn.sohucs.com/images/20170913/0fc7e451b6854e4495ef0fa8c721eca9.jpeg" alt=""></a></div>
				<h3><a href="/fun/fun-cartoons/fc-page">情绪</a></h3>
				<div class="shortfilm-intr">
					<p>人都是活体，发脾气就像扔炸弹，会有杀伤性。每个人都有控制自己……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-cartoons/fc-page"><span>看漫画</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2 box-small">
				<div class="vid"><a href="/fun/fun-cartoons/fc-page"><img src="/images/content/cartoons/1.png" alt=""></a></div>
				<h3><a href="/fun/fun-cartoons/fc-page">温暖8</a></h3>
				<div class="shortfilm-intr">
					<p>看电影时被前面高个子挡住了视线，你觉得这场电影注定看不好了……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-cartoons/fc-page"><span>看漫画</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2 box-small">
				<div class="vid"><a href="/fun/fun-cartoons/fc-page"><img src="/images/content/cartoons/2.png" alt=""></a></div>
				<h3><a href="/fun/fun-cartoons/fc-page">温暖7</a></h3>
				<div class="shortfilm-intr">
					<p>公司聚餐，大家的杯子里都被倒满酒，你不能喝酒，却又不知道……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-cartoons/fc-page"><span>看漫画</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2 box-small">
				<div class="vid"><a href="/fun/fun-cartoons/fc-page"><img src="/images/content/cartoons/3.png" alt=""></a></div>
				<h3><a href="/fun/fun-cartoons/fc-page">温暖6</a></h3>
				<div class="shortfilm-intr">
					<p>你心情很糟糕想找个人聊聊天，那个平时忙到飞起的人直接将手……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-cartoons/fc-page"><span>看漫画</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2 box-small">
				<div class="vid"><a href="/fun/fun-cartoons/fc-page"><img src="/images/content/cartoons/4.png" alt=""></a></div>
				<h3><a href="/fun/fun-cartoons/fc-page">温暖5</a></h3>
				<div class="shortfilm-intr">
					<p>以为吃不到最喜欢的面包了，然而下一秒就收获到惊喜……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-cartoons/fc-page"><span>看漫画</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="consult-con">
			<div class="short-film short-film2 box-small1 box-small boxsmall-other">
				<div class="vid"><a href="/fun/fun-cartoons/fc-page"><img src="/images/content/cartoons/5.png" alt=""></a></div>
				<h3><a href="/fun/fun-cartoons/fc-page">温暖4</a></h3>
				<div class="shortfilm-intr">
					<p>早高峰地铁里的人行色，被人撞到差一点摔倒，危急……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-cartoons/fc-page"><span>看漫画</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2 box-small boxsmall-other">
				<div class="vid"><a href="/fun/fun-cartoons/fc-page"><img src="/images/content/cartoons/6.png" alt=""></a></div>
				<h3><a href="/fun/fun-cartoons/fc-page">温暖3</a></h3>
				<div class="shortfilm-intr">
					<p>遭到领导批评，整个人都丧到不行，那个话少又古板……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-cartoons/fc-page"><span>看漫画</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2 box-small boxsmall-other">
				<div class="vid"><a href="/fun/fun-cartoons/fc-page"><img src="/images/content/cartoons/7.png" alt=""></a></div>
				<h3><a href="/fun/fun-cartoons/fc-page">温暖2</a></h3>
				<div class="shortfilm-intr">
					<p>这世界有时候并不那么友好，但总能遇见一些善良……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-cartoons/fc-page"><span>看漫画</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2 box-small boxsmall-other">
				<div class="vid"><a href="/fun/fun-cartoons/fc-page"><img src="/images/content/cartoons/8.png" alt=""></a></div>
				<h3><a href="/fun/fun-cartoons/fc-page">温暖1</a></h3>
				<div class="shortfilm-intr">
					<p>别总是抱怨命途多舛，这个世上，在你看不见的角落……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-cartoons/fc-page"><span>看漫画</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2 box-small boxsmall-other">
				<div class="vid"><a href="/fun/fun-cartoons/fc-page"><img src="/images/content/cartoons/9.png" alt=""></a></div>
				<h3><a href="/fun/fun-cartoons/fc-page">选择</a></h3>
				<div class="shortfilm-intr">
					<p>生命是一系列选择的结果，所有的选择都有代价。等……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-cartoons/fc-page"><span>看漫画</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--引入尾部-->
<%- include("../part/foot",{js:[]})%>
