<!--引入头部-->
<%- include("../part/header",{title:"长治学院学生心理健康",css:[]})%>
<!--主体内容-->
<div id="content">
	<div class="box w-m">
		<div class="bread w-m">
			<a href="/fun">娱乐</a>
			<span>> 心理短片</span>
		</div>
		<div class="consult-con">
			<ul class="fs-con">
				<li>
					<div class="vid">
						<a href="/fun/fun-shortFilms/fs-details">
							<img src="/images/content/shortFilms/1.png" alt="">
						</a>
					</div>
					<h3><a href="/fun/fun-shortFilms/fs-details">《灰色怪圈》</a></h3>
					<div class="shortfilm-intr">
						<p>【抑郁微电影】抑郁症剧情科普短片</p>
						<a href=""><i></i></a>
						<div class="btn">
							<a href="/fun/fun-shortFilms/fs-details"><span>看短片</span></a>
						</div>
					</div>
				</li>
				<li>
					<div class="vid">
						<a href="/fun/fun-shortFilms/fs-details">
							<img src="/images/content/shortFilms/1.png" alt="">
						</a>
					</div>
					<h3><a href="/fun/fun-shortFilms/fs-details">《灰色怪圈》</a></h3>
					<div class="shortfilm-intr">
						<p>【抑郁微电影】抑郁症剧情科普短片</p>
						<a href=""><i></i></a>
						<div class="btn">
							<a href="/fun/fun-shortFilms/fs-details"><span>看短片</span></a>
						</div>
					</div>
				</li>
				<li>
					<div class="vid">
						<a href="/fun/fun-shortFilms/fs-details">
							<img src="/images/content/shortFilms/1.png" alt="">
						</a>
					</div>
					<h3><a href="/fun/fun-shortFilms/fs-details">《灰色怪圈》</a></h3>
					<div class="shortfilm-intr">
						<p>【抑郁微电影】抑郁症剧情科普短片</p>
						<a href=""><i></i></a>
						<div class="btn">
							<a href="/fun/fun-shortFilms/fs-details"><span>看短片</span></a>
						</div>
					</div>
				</li>
				<li>
					<div class="vid">
						<a href="/fun/fun-shortFilms/fs-details">
							<img src="/images/content/shortFilms/1.png" alt="">
						</a>
					</div>
					<h3><a href="/fun/fun-shortFilms/fs-details">《灰色怪圈》</a></h3>
					<div class="shortfilm-intr">
						<p>【抑郁微电影】抑郁症剧情科普短片</p>
						<a href=""><i></i></a>
						<div class="btn">
							<a href="/fun/fun-shortFilms/fs-details"><span>看短片</span></a>
						</div>
					</div>
				</li>
				<li>
					<div class="vid">
						<a href="/fun/fun-shortFilms/fs-details">
							<img src="/images/content/shortFilms/1.png" alt="">
						</a>
					</div>
					<h3><a href="/fun/fun-shortFilms/fs-details">《灰色怪圈》</a></h3>
					<div class="shortfilm-intr">
						<p>【抑郁微电影】抑郁症剧情科普短片</p>
						<a href=""><i></i></a>
						<div class="btn">
							<a href="/fun/fun-shortFilms/fs-details"><span>看短片</span></a>
						</div>
					</div>
				</li>
				<li>
					<div class="vid">
						<a href="/fun/fun-shortFilms/fs-details">
							<img src="/images/content/shortFilms/1.png" alt="">
						</a>
					</div>
					<h3><a href="/fun/fun-shortFilms/fs-details">《灰色怪圈》</a></h3>
					<div class="shortfilm-intr">
						<p>【抑郁微电影】抑郁症剧情科普短片</p>
						<a href=""><i></i></a>
						<div class="btn">
							<a href="/fun/fun-shortFilms/fs-details"><span>看短片</span></a>
						</div>
					</div>
				</li>
				<li>
					<div class="vid">
						<a href="/fun/fun-shortFilms/fs-details">
							<img src="/images/content/shortFilms/1.png" alt="">
						</a>
					</div>
					<h3><a href="/fun/fun-shortFilms/fs-details">《灰色怪圈》</a></h3>
					<div class="shortfilm-intr">
						<p>【抑郁微电影】抑郁症剧情科普短片</p>
						<a href=""><i></i></a>
						<div class="btn">
							<a href="/fun/fun-shortFilms/fs-details"><span>看短片</span></a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="page">
			<div class="pageInfo">
				共<span class="pageNum">100</span>页/<span class="entry">999</span>条
			</div>
			<a href="#" class="turning home">首页</a>
			<a href="#" class="turning previous">上一页</a>
			<a href="#" class="which first selected">1</a>
			<a href="#" class="which second">2</a>
			<a href="#" class="which third">3</a>
			<a href="#" class="turning next">下一页</a>
			<a href="#" class="turning last">末页</a>
		</div>
	</div>
</div>
<!--引入尾部-->
<%- include("../part/foot",{js:[]})%>