<!--引入头部-->
<%- include("../part/header",{title:"长治学院学生心理健康",css:["part/audio"]})%>
<!--主体内容-->
<div id="content">
    <div class="box w-m">
        <div class="bread w-m">
            <a href="/fun">娱乐</a>
            <span>> 心理音乐</span>
        </div>
        <div class="fm-con">
            <!--左侧菜单栏-->
            <ul class="fm-cf">
                <li class="fc-on"><a href="#">热门推荐</a></li>
                <li><a href="#">励志</a></li>
                <li><a href="#">安静</a></li>
                <li><a href="#">轻音乐</a></li>
                <li><a href="#">学习必备</a></li>
                <li><a href="#">健身必备</a></li>
            </ul>
            <!--右侧内容栏-->
            <div class="fm-items">
                <div class="fm-item" style="display:block">
                    <ul>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="fm-item">
                    <ul>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="fm-item">
                    <ul>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="fm-item">
                    <ul>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="fm-item">
                    <ul>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="fm-item">
                    <ul>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="fm-pic">
                                <img src="https://p2.music.126.net/pkOfofUGlsg8DXeaO7biQQ==/18671906465654321.jpg?param=180y180" alt="">
                            </a>
                            <div class="fm-item-info">
                                <div class="fm-info">
                                    <a href="#" class="fm-name">Bird of Prey</a>
                                    <span class="fm-singer">George Winston</span>
                                </div>
                                <span class="fm-time">02:30</span>
                                <div class="fm-heat">
                                    <p class="fm-play">播放量：<span>1000</span></p>
                                    <p class="fm-clt">收藏量：<span>1100</span></p>
                                </div>
                                <i class="clc fm-clc"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--翻页功能区-->
                <div class="page">
                    <div class="pageInfo">
                        共<span class="pageNum">100</span>页/<span class="entry">999</span>条
                    </div>
                    <a href="#" class="turning home">首页</a>
                    <a href="#" class="turning previous">上一页</a>
                    <a href="#" class="which first selected">1</a>
                    <a href="#" class="which second">2</a>
                    <a href="#" class="which third">3</a>
                    <a href="#" class="turning next">下一页</a>
                    <a href="#" class="turning last">末页</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部音频播放控件部分-->
<div class="audio-box">
    <div class="audio-container">
        <audio src="../../audio/The Chainsmokers、Coldplay - Something Just Like This.mp3"></audio>
        <div class="audio-view">
            <!--音乐图片-->
            <div class="audio-cover"></div>
            <!--音乐播放信息-->
            <div class="audio-body">
                <h3 class="audio-title">未知歌曲</h3>
                <div class="audio-backs">
                    <div class="audio-this-time">00:00:00</div>
                    <div class="audio-count-time"></div>
                    <div class="audio-setbacks">
                        <span class="audio-cache-setbacks"></span>
                        <i class="audio-this-setbacks">
                            <span class="audio-backs-btn"></span>
                        </i>
                    </div>
                </div>
            </div>
            <!--播放控制按钮-->
            <div class="audio-btn">
                <div class="audio-select">
                    <div class="audio-prev"></div>
                    <div class="switch audio-stop"></div>
                    <div class="audio-next"></div>
                    <div class="audio-menu"></div>
                    <div class="audio-volume"></div>
                </div>
                <!--音量面板-->
                <div class="audio-set-volume">
                    <div class="volume-box">
                        <i class="volume-bar"></i>
                        <span class="volume-setbacks"></span>
                        <span class="volume-point"></span>
                    </div>
                </div>
                <!--播放列表-->
                <div class="audio-list">
                    <div class="audio-list-head">
                        <p>歌单</p>
                        <span class="menu-close">关闭</span>
                    </div>
                    <ul class="audio-inline"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--引入尾部-->
<%- include("../part/foot",{js:["fun-music","part/audio"]})%>
