<!--引入头部-->
<%- include("../part/header",{title:"长治学院学生心理健康",css:[]})%>
<!--主体内容-->
<div id="content">
	<div class="box w-m">
		<div class="bread w-m">
			<a href="/fun">娱乐</a>
			<span>> 治愈系</span>
		</div>
		<div class="consult-con">
			<div class="short-film short-film2 box-small1 box-small">
				<div class="vid"></div>
				<h3>爱的真意-重新认识爱情</h3>
				<div class="shortfilm-intr">
					<p>当她开始失明，她还是固执地去做和平常一样的……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href=""><span>看短片</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2 box-small">
				<div class="vid"></div>
				<h3>爱的真意-重新认识爱情</h3>
				<div class="shortfilm-intr">
					<p>当她开始失明，她还是固执地去做和平常一样的……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href=""><span>看短片</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2 box-small">
				<div class="vid"></div>
				<h3>爱的真意-重新认识爱情</h3>
				<div class="shortfilm-intr">
					<p>当她开始失明，她还是固执地去做和平常一样的……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href=""><span>看短片</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2 box-small">
				<div class="vid"></div>
				<h3>爱的真意-重新认识爱情</h3>
				<div class="shortfilm-intr">
					<p>当她开始失明，她还是固执地去做和平常一样的……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href=""><span>看短片</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2 box-small">
				<div class="vid"></div>
				<h3>爱的真意-重新认识爱情</h3>
				<div class="shortfilm-intr">
					<p>当她开始失明，她还是固执地去做和平常一样的……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href=""><span>看短片</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="consult-con">
			<div class="short-film short-film2 box-small1 box-small boxsmall-other">
				<div class="vid"></div>
				<h3>爱的真意-重新认识爱情</h3>
				<div class="shortfilm-intr">
					<p>当她开始失明，她还是固执地去做和平常一样的……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href=""><span>看短片</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2 box-small boxsmall-other">
				<div class="vid"></div>
				<h3>爱的真意-重新认识爱情</h3>
				<div class="shortfilm-intr">
					<p>当她开始失明，她还是固执地去做和平常一样的……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href=""><span>看短片</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2 box-small boxsmall-other">
				<div class="vid"></div>
				<h3>爱的真意-重新认识爱情</h3>
				<div class="shortfilm-intr">
					<p>当她开始失明，她还是固执地去做和平常一样的……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href=""><span>看短片</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2 box-small boxsmall-other">
				<div class="vid"></div>
				<h3>爱的真意-重新认识爱情</h3>
				<div class="shortfilm-intr">
					<p>当她开始失明，她还是固执地去做和平常一样的……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href=""><span>看短片</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2 box-small boxsmall-other">
				<div class="vid"></div>
				<h3>爱的真意-重新认识爱情</h3>
				<div class="shortfilm-intr">
					<p>当她开始失明，她还是固执地去做和平常一样的……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href=""><span>看短片</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--引入尾部-->
<%- include("../part/foot",{js:[]})%>
