<!--引入头部-->
<%- include("../part/header",{title:"长治学院学生心理健康",css:[]})%>
<!--主体内容-->
<div id="content">
	<div class="box w-m">
		<div class="bread w-m">
			<a href="/fun">娱乐</a>
			<span>> 哈哈笑话</span>
		</div>
		<div class="consult-con">
			<div class="short-film joke joke2 box-small1 box-small">
				<div class="vid joke-img"><a href="/fun/fun-jokes/fj-details"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1556742490766&di=1940d119594efbb3e236ce4629272f05&imgtype=0&src=http%3A%2F%2Fcdnimg103.lizhi.fm%2Faudio_cover%2F2017%2F06%2F02%2F2605128809511174151_320x320.jpg" alt=""></a></div>
				<h3><a href="/fun/fun-jokes/fj-details">蚂蚁和大象</a></h3>
				<div class="shortfilm-intr">
					<p>蚂蚁和大象结婚不久，大象就死了。蚂蚁一边埋大象，一边痛哭……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-jokes/fj-details"><span>戳笑点</span></a>
					</div>
				</div>
			</div>
			<div class="short-film joke joke2 box-small">
				<div class="vid joke-img"><a href="/fun/fun-jokes/fj-details"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557337079&di=8fbb2e193d697ac74a0576560aaf432e&imgtype=jpg&er=1&src=http%3A%2F%2Fn.sinaimg.cn%2Fsinacn%2Fw640h427%2F20180308%2Fd330-fxpwyhv7481847.jpg" alt=""></a></div>
				<h3><a href="/fun/fun-jokes/fj-details">口渴的时候</a></h3>
				<div class="shortfilm-intr">
					<p>临死之前，stanislaw被他挚爱的家人包围着。最后的时刻就要来了……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-jokes/fj-details"><span>戳笑点</span></a>
					</div>
				</div>
			</div>
			<div class="short-film joke joke2 box-small">
				<div class="vid joke-img"><a href="/fun/fun-jokes/fj-details"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1556742213225&di=476621d3adce8acb819ed3a0f48dbf77&imgtype=0&src=http%3A%2F%2Fimg3.redocn.com%2F20111226%2FRedocn_2011121912073637.jpg" alt=""></a></div>
				<h3><a href="/fun/fun-jokes/fj-details">我们的电脑</a></h3>
				<div class="shortfilm-intr">
					<p>早年，某公司，买了一台电脑，放在某人的办公桌上，有一天这个人……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-jokes/fj-details"><span>戳笑点</span></a>
					</div>
				</div>
			</div>
			<div class="short-film joke joke2 box-small">
				<div class="vid joke-img"><a href="/fun/fun-jokes/fj-details"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1556742095746&di=9b65b0876827244d0ec6d4bd4fcbddb0&imgtype=0&src=http%3A%2F%2Fwww.szhulian.com%2Fueditor%2Fimage%2F20180514%2F1526266257605547.jpg" alt=""></a></div>
				<h3><a href="/fun/fun-jokes/fj-details">梦想</a></h3>
				<div class="shortfilm-intr">
					<p>曾经有一位年轻人，在他很年轻的时候梦想成为一位伟大的作家……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-jokes/fj-details"><span>戳笑点</span></a>
					</div>
				</div>
			</div>
			<div class="short-film joke joke2 box-small">
				<div class="vid joke-img"><a href="/fun/fun-jokes/fj-details"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557337572&di=64d8cd4c9beac9efedb4fe9ea570217b&imgtype=jpg&er=1&src=http%3A%2F%2Fphoto.orsoon.com%2F180309%2F180309_82%2Feu8OlXWkgI_small.jpg" alt=""></a></div>
				<h3><a href="/fun/fun-jokes/fj-details">镜子的悲哀</a></h3>
				<div class="shortfilm-intr">
					<p>照相机和镜子mm相恋了，镜子mm说：“我好悲哀啊，一辈子让别……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-jokes/fj-details"><span>戳笑点</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="consult-con">
			<div class="short-film joke joke2 box-small1 box-small boxsmall-other">
				<div class="vid joke-img"><a href="/fun/fun-jokes/fj-details"><img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=752219650,4294374602&fm=26&gp=0.jpg" alt=""></a></div>
				<h3><a href="/fun/fun-jokes/fj-details">成事不足，败事有余</a></h3>
				<div class="shortfilm-intr">
					<p>从前,有一位老秀才，一生不曾中举。生了两个儿子，于是将大儿子……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-jokes/fj-details"><span>戳笑点</span></a>
					</div>
				</div>
			</div>
			<div class="short-film joke joke2 box-small boxsmall-other">
				<div class="vid joke-img"><a href="/fun/fun-jokes/fj-details"><img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2909143355,1611291479&fm=26&gp=0.jpg" alt=""></a></div>
				<h3><a href="/fun/fun-jokes/fj-details">无人驾驶汽车</a></h3>
				<div class="shortfilm-intr">
					<p>一位妇女走过停车场时，看见一辆无人驾驶的汽车正朝自己开来……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-jokes/fj-details"><span>戳笑点</span></a>
					</div>
				</div>
			</div>
			<div class="short-film joke joke2 box-small boxsmall-other">
				<div class="vid joke-img"><a href="/fun/fun-jokes/fj-details"><img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2066171581,3749202784&fm=26&gp=0.jpg" alt=""></a></div>
				<h3><a href="/fun/fun-jokes/fj-details">赶船</a></h3>
				<div class="shortfilm-intr">
					<p>一位老兄因要赶着搭船，所以用最快的速度开车赶到码头。当他开到……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-jokes/fj-details"><span>戳笑点</span></a>
					</div>
				</div>
			</div>
			<div class="short-film joke joke2 box-small boxsmall-other">
				<div class="vid joke-img"><a href="/fun/fun-jokes/fj-details"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1556743442231&di=62269c1af35a86084bfb1cff3eaa8bd4&imgtype=0&src=http%3A%2F%2Fpic.51yuansu.com%2Fpic3%2Fcover%2F01%2F91%2F44%2F59829e0e0b0f6_610.jpg" alt=""></a></div>
				<h3><a href="/fun/fun-jokes/fj-details">把门锁好</a></h3>
				<div class="shortfilm-intr">
					<p>小商店的主人半夜里被一个强盗从床上拎了起来，强盗手持利刃……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-jokes/fj-details"><span>戳笑点</span></a>
					</div>
				</div>
			</div>
			<div class="short-film joke joke2 box-small boxsmall-other">
				<div class="vid joke-img"><a href="/fun/fun-jokes/fj-details"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557338218&di=e055b913b8471e7578d23767edaeedbc&imgtype=jpg&er=1&src=http%3A%2F%2Fpic.51yuansu.com%2Fpic3%2Fcover%2F03%2F72%2F02%2F5bef525b81a81_610.jpg" alt=""></a></div>
				<h3><a href="/fun/fun-jokes/fj-details">炒鱿鱼</a></h3>
				<div class="shortfilm-intr">
					<p>有一家大酒店要招聘一名厨师，这天来了一位应聘者。酒店的老板……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="/fun/fun-jokes/fj-details"><span>戳笑点</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--引入尾部-->
<%- include("../part/foot",{js:[]})%>
