<!--引入头部-->
<%- include("../part/header",{title:"长治学院学生心理健康",css:[]})%>
<!--主体内容-->
<div id="content">
	<div class="section section2 consult w-m">
		<div class="part-title part-title2">
			<h2><a href="fun/fun-FM">心理FM</a></h2>
			<p class="decoration"><span>LISTENING</span></p>
			<p class="more"><a href="fun/fun-FM">查看更多</a></p>
		</div>
		<div class="consult-con">
			<div class="test-con">
				<div class="vid">
					<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
				</div>
				<div class="test-intr">
					<h3><a href="">有事做 有人爱 有所期待</a></h3>
				</div>
				<div class="consult-btn btn-center">
					<a href=""><span>收听</span></a>
				</div>
			</div>
			<div class="test-con">
				<div class="vid">
					<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
				</div>
				<div class="test-intr">
					<h3><a href="">有事做 有人爱 有所期待</a></h3>
				</div>
				<div class="consult-btn btn-center">
					<a href=""><span>收听</span></a>
				</div>
			</div>
			<div class="test-con">
				<div class="vid">
					<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
				</div>
				<div class="test-intr">
					<h3><a href="">有事做 有人爱 有所期待</a></h3>
				</div>
				<div class="consult-btn btn-center">
					<a href=""><span>收听</span></a>
				</div>
			</div>
			<div class="test-con">
				<div class="vid">
					<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
				</div>
				<div class="test-intr">
					<h3><a href="">有事做 有人爱 有所期待</a></h3>
				</div>
				<div class="consult-btn btn-center">
					<a href=""><span>收听</span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="section section2 pourout w-m">
		<div class="part-title part-title2">
			<h2><a href="fun/fun-images">心理图片</a></h2>
			<p class="decoration"><span>IMAGES</span></p>
			<p class="more"><a href="fun/fun-images">查看更多</a></p>
		</div>
		<div class="consult-con">
			<div class="test-con">
				<div class="vid">
					<a href="funimages-details.html"><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
				</div>
				<div class="test-intr">
					<h3><a href="funimages-details.html">为什么会转了？</a></h3>
				</div>
				<div class="consult-btn">
					<a href="funimages-details.html"><span>看图</span></a>
				</div>
			</div>
			<div class="test-con">
				<div class="vid">
					<a href="funimages-details.html"><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
				</div>
				<div class="test-intr">
					<h3><a href="funimages-details.html">为什么会转了？</a></h3>
				</div>
				<div class="consult-btn">
					<a href="funimages-details.html"><span>看图</span></a>
				</div>
			</div>
			<div class="test-con">
				<div class="vid">
					<a href="funimages-details.html"><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
				</div>
				<div class="test-intr">
					<h3><a href="funimages-details.html">为什么会转了？</a></h3>
				</div>
				<div class="consult-btn">
					<a href="funimages-details.html"><span>看图</span></a>
				</div>
			</div>
			<div class="test-con">
				<div class="vid">
					<a href="funimages-details.html"><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
				</div>
				<div class="test-intr">
					<h3><a href="funimages-details.html">为什么会转了？</a></h3>
				</div>
				<div class="consult-btn">
					<a href="funimages-details.html"><span>看图</span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="section section2 a-q w-m">
		<div class="part-title part-title2">
			<h2><a href="fun/fun-shortFilms">心理短片</a></h2>
			<p class="decoration"><span>SHORT FILMS</span></p>
			<p class="more"><a href="fun/fun-shortFilms">查看更多</a></p>
		</div>
		<div class="talking-con">
			<div class="short-film short-film2">
				<div class="vid"></div>
				<h3>爱的真意-重新认识爱情</h3>
				<div class="shortfilm-intr">
					<p>当她开始失明，她还是固执地去做和平常一样的……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href=""><span>看短片</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2">
				<div class="vid"></div>
				<h3>爱的真意-重新认识爱情</h3>
				<div class="shortfilm-intr">
					<p>当她开始失明，她还是固执地去做和平常一样的……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href=""><span>看短片</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2">
				<div class="vid"></div>
				<h3>爱的真意-重新认识爱情</h3>
				<div class="shortfilm-intr">
					<p>当她开始失明，她还是固执地去做和平常一样的……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href=""><span>看短片</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2">
				<div class="vid"></div>
				<h3>爱的真意-重新认识爱情</h3>
				<div class="shortfilm-intr">
					<p>当她开始失明，她还是固执地去做和平常一样的……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href=""><span>看短片</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section section2 a-q w-m">
		<div class="part-title part-title2">
			<h2><a href="fun/fun-cartoons">心理漫画</a></h2>
			<p class="decoration"><span>CARTOONS</span></p>
			<p class="more"><a href="fun/fun-cartoons">查看更多</a></p>
		</div>
		<div class="talking-con">
			<div class="short-film short-film2">
				<div class="vid"><a href="funcartoons-page.html"><img src="" alt=""></a></div>
				<h3><a href="funcartoons-page.html">情绪</a></h3>
				<div class="shortfilm-intr">
					<p>情绪可以说是我们与生俱来的能量与生俱来的能量……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href=""><span>看漫画</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2">
				<div class="vid"><a href="funcartoons-page.html"><img src="" alt=""></a></div>
				<h3><a href="funcartoons-page.html">情绪</a></h3>
				<div class="shortfilm-intr">
					<p>情绪可以说是我们与生俱来的能量与生俱来的能量……</p>

					<a href=""><i></i></a>
					<div class="btn">
						<a href=""><span>看漫画</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2">
				<div class="vid"><a href="funcartoons-page.html"><img src="" alt=""></a></div>
				<h3><a href="funcartoons-page.html">情绪</a></h3>
				<div class="shortfilm-intr">
					<p>情绪可以说是我们与生俱来的能量与生俱来的能量……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href=""><span>看漫画</span></a>
					</div>
				</div>
			</div>
			<div class="short-film short-film2">
				<div class="vid"><a href="funcartoons-page.html"><img src="" alt=""></a></div>
				<h3><a href="funcartoons-page.html">情绪</a></h3>
				<div class="shortfilm-intr">
					<p>情绪可以说是我们与生俱来的能量与生俱来的能量……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href=""><span>看漫画</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section section2 a-q w-m">
		<div class="part-title part-title2">
			<h2><a href="fun/fun-jokes">哈哈笑话</a></h2>
			<p class="decoration"><span>JOKES</span></p>
			<p class="more"><a href="fun/fun-jokes">查看更多</a></p>
		</div>
		<div class="talking-con">
			<div class="short-film joke joke2">
				<div class="vid"><a href="funjokes-details.html"><img src="" alt=""></a></div>
				<h3><a href="funjokes-details.html">物理爱好者</a></h3>
				<div class="shortfilm-intr">
					<p>笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="funjokes-details.html"><span>戳笑点</span></a>
					</div>
				</div>
			</div>
			<div class="short-film joke joke2">
				<div class="vid"><a href="funjokes-details.html"><img src="" alt=""></a></div>
				<h3><a href="funjokes-details.html">物理爱好者</a></h3>
				<div class="shortfilm-intr">
					<p>笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="funjokes-details.html"><span>戳笑点</span></a>
					</div>
				</div>
			</div>
			<div class="short-film joke joke2">
				<div class="vid"><a href="funjokes-details.html"><img src="" alt=""></a></div>
				<h3><a href="funjokes-details.html">物理爱好者</a></h3>
				<div class="shortfilm-intr">
					<p>笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="funjokes-details.html"><span>戳笑点</span></a>
					</div>
				</div>
			</div>
			<div class="short-film joke joke2">
				<div class="vid"><a href="funjokes-details.html"><img src="" alt=""></a></div>
				<h3><a href="funjokes-details.html">物理爱好者</a></h3>
				<div class="shortfilm-intr">
					<p>笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容……</p>
					<a href=""><i></i></a>
					<div class="btn">
						<a href="funjokes-details.html"><span>戳笑点</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section section2 pourout w-m">
		<div class="part-title part-title2 play-title">
			<h2><a href="fun/fun-healing">心理治愈系</a></h2>
			<p class="decoration"><span>HEALING</span></p>
			<p class="more"><a href="fun/fun-healing">查看更多</a></p>
		</div>
		<div class="consult-con">
			<div class="cartoon-con heal rhappy2">
				<ul>
					<li>
						<a href=""><img src="" alt=""></a>
					</li>
					<li>
						<a href=""><img src="" alt=""></a>
					</li>
				</ul>
				<p>轻拾月光，听风声缱绻，时光里的暖香化作笔尖的诗行，如刹时花开。</p>
				<div class="heal-info rhappy-info rhappy-info2">
					<a href=""><span>萧妮妮</span></a>
					<div class="btn right-btn">
						<a href=""><span>治愈系</span></a>
					</div>
				</div>
			</div>
			<div class="cartoon-con heal rhappy2">
				<ul>
					<li>
						<a href=""><img src="" alt=""></a>
					</li>
					<li>
						<a href=""><img src="" alt=""></a>
					</li>
				</ul>
				<p>轻拾月光，听风声缱绻，时光里的暖香化作笔尖的诗行，如刹时花开。</p>
				<div class="heal-info rhappy-info rhappy-info2">
					<a href=""><span>萧妮妮</span></a>
					<div class="btn right-btn">
						<a href=""><span>治愈系</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--引入尾部-->
<%- include("../part/foot",{js:[]})%>

