<!--引入头部-->
<%- include("part/header")%>
<!--主体内容-->
<div id="content">
			<div class="box w-m">
				<div class="bread w-m">
					<p>
						<a href="fun.html"><span>测评</span></a>
						<span>></span>
					</p>
					<h4>汉密顿尔焦虑量表（HAMA）</h4>
				</div>
				<div class="detail-con">
					<div class="left">
						<div class="tests-con">
							<div class="test-img"><img src="" alt=""></div>
							<div class="test-info2">
								<h2>汉密顿尔焦虑量表（HAMA）</h2>
								<p>汉密尔顿焦虑量表（Hamilton Anxiety Scale，HAMA）由Hamilton于1959年编制。最早是精神科临床中常用的量表之一，包括14个项目。 《CCMD-3中国精神疾病诊断标准》将其列为焦虑症的重要诊断工具，临床上常将其用于焦虑症的诊断及程度划分的依据。</p>
								<div class="test-operationinfo">
									<div class="infotest">
										<p><span>211</span>名学生已测试</p>
										<p><span>5</span>评论</p>
									</div>
									<div class="btn">开始测试</div>
								</div>
							</div>
						</div>
						<div id="comment">
							<textarea>踩个脚印~</textarea>
							<div class="btn">评论</div>
						</div>
						<div id="comment-con">
							<h3>5条评论</h3>
							<ul>
								<li>
									<div class="user">
										<div class="user-photo"><a href=""><img src="" alt=""></a></div>
										<div class="user-info">
											<h5><a href="">王筱菲</a></h5>
											<a href="">网络1902班辅导员</a>
										</div>
									</div>
									<p>评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容回答内容回答内容回答内容回答内容回答内容回答内容</p>
									<div class="comment-info">
										<p>2021-12-22 20:20</p>
										<div class="operation">
											<div class="operate-btn good-sbtn"><a href=""><i></i><span>120</span></a></div>
											<div class="operate-btn comment-sbtn"><a href=""><i></i><span>300</span></a></div>
										</div>
									</div>
								</li>
								<li>
									<div class="user">
										<div class="user-photo"><a href=""><img src="" alt=""></a></div>
										<div class="user-info">
											<h5><a href="">王筱菲</a></h5>
											<a href="">网络1902班辅导员</a>
										</div>
									</div>
									<p>评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容回答内容回答内容回答内容回答内容回答内容回答内容</p>
									<div class="comment-info">
										<p>2021-12-22 20:20</p>
										<div class="operation">
											<div class="operate-btn good-sbtn"><a href=""><i></i><span>120</span></a></div>
											<div class="operate-btn comment-sbtn"><a href=""><i></i><span>300</span></a></div>
										</div>
									</div>
								</li>
							</ul>
							<div class="more-com"><a href="">更多评论(3)</a></div>
						</div>
					</div>
					<div class="right">
						
					</div>
				</div>
			</div>
		</div>
<!--引入尾部-->
<%- include("part/foot")%>
