<!--引入头部-->
<%- include("../part/header",{title:"长治学院学生心理健康",css:[]})%>
<!--主体内容-->
<div id="content">
	<div class="consult-con w-m">
		<div class="test-con box-small1 box-small test-top">
			<div class="pic">
				<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
			</div>
			<div class="test-intr">
				<h3><a href="">PSTRI压力测试</a></h3>
				<p>帮助你大致了解自己的压力</p>
			</div>
			<div class="test-info">
				<p><span>382</span>名已测</p>
				<p><span>24</span>评论</p>
			</div>
			<div class="consult-btn btn-center">
				<a href=""><span>测试</span></a>
			</div>
		</div>
		<div class="test-con box-small test-top">
			<div class="pic">
				<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
			</div>
			<div class="test-intr">
				<h3><a href="">PSTRI压力测试</a></h3>
				<p>帮助你大致了解自己的压力</p>
			</div>
			<div class="test-info">
				<p><span>382</span>名已测</p>
				<p><span>24</span>评论</p>
			</div>
			<div class="consult-btn btn-center">
				<a href=""><span>测试</span></a>
			</div>
		</div>
		<div class="test-con box-small test-top">
			<div class="pic">
				<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
			</div>
			<div class="test-intr">
				<h3><a href="">PSTRI压力测试</a></h3>
				<p>帮助你大致了解自己的压力</p>
			</div>
			<div class="test-info">
				<p><span>382</span>名已测</p>
				<p><span>24</span>评论</p>
			</div>
			<div class="consult-btn btn-center">
				<a href=""><span>测试</span></a>
			</div>
		</div>
		<div class="test-con box-small test-top">
			<div class="pic">
				<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
			</div>
			<div class="test-intr">
				<h3><a href="">PSTRI压力测试</a></h3>
				<p>帮助你大致了解自己的压力</p>
			</div>
			<div class="test-info">
				<p><span>382</span>名已测</p>
				<p><span>24</span>评论</p>
			</div>
			<div class="consult-btn btn-center">
				<a href=""><span>测试</span></a>
			</div>
		</div>
		<div class="test-con box-small test-top">
			<div class="pic">
				<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
			</div>
			<div class="test-intr">
				<h3><a href="">PSTRI压力测试</a></h3>
				<p>帮助你大致了解自己的压力</p>
			</div>
			<div class="test-info">
				<p><span>382</span>名已测</p>
				<p><span>24</span>评论</p>
			</div>
			<div class="consult-btn btn-center">
				<a href=""><span>测试</span></a>
			</div>
		</div>
	</div>
	<div class="consult-con w-m">
		<div class="test-con box-small1 box-small boxsmall-other">
			<div class="pic">
				<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
			</div>
			<div class="test-intr">
				<h3><a href="">PSTRI压力测试</a></h3>
				<p>帮助你大致了解自己的压力</p>
			</div>
			<div class="test-info">
				<p><span>382</span>名已测</p>
				<p><span>24</span>评论</p>
			</div>
			<div class="consult-btn btn-center">
				<a href=""><span>测试</span></a>
			</div>
		</div>
		<div class="test-con box-small boxsmall-other">
			<div class="pic">
				<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
			</div>
			<div class="test-intr">
				<h3><a href="">PSTRI压力测试</a></h3>
				<p>帮助你大致了解自己的压力</p>
			</div>
			<div class="test-info">
				<p><span>382</span>名已测</p>
				<p><span>24</span>评论</p>
			</div>
			<div class="consult-btn btn-center">
				<a href=""><span>测试</span></a>
			</div>
		</div>
		<div class="test-con box-small boxsmall-other">
			<div class="pic">
				<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
			</div>
			<div class="test-intr">
				<h3><a href="">PSTRI压力测试</a></h3>
				<p>帮助你大致了解自己的压力</p>
			</div>
			<div class="test-info">
				<p><span>382</span>名已测</p>
				<p><span>24</span>评论</p>
			</div>
			<div class="consult-btn btn-center">
				<a href=""><span>测试</span></a>
			</div>
		</div>
		<div class="test-con box-small boxsmall-other">
			<div class="pic">
				<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
			</div>
			<div class="test-intr">
				<h3><a href="">PSTRI压力测试</a></h3>
				<p>帮助你大致了解自己的压力</p>
			</div>
			<div class="test-info">
				<p><span>382</span>名已测</p>
				<p><span>24</span>评论</p>
			</div>
			<div class="consult-btn btn-center">
				<a href=""><span>测试</span></a>
			</div>
		</div>
		<div class="test-con box-small boxsmall-other">
			<div class="pic">
				<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
			</div>
			<div class="test-intr">
				<h3><a href="">PSTRI压力测试</a></h3>
				<p>帮助你大致了解自己的压力</p>
			</div>
			<div class="test-info">
				<p><span>382</span>名已测</p>
				<p><span>24</span>评论</p>
			</div>
			<div class="consult-btn btn-center">
				<a href=""><span>测试</span></a>
			</div>
		</div>
	</div>
</div>
<!--引入尾部-->
<%- include("../part/foot",{js:[]})%>

