<!--引入头部-->
<%- include("../part/header",{title:"长治学院学生心理健康",css:[]})%>
<!--主体内容-->
<div id="content">
	<div class="section section2 consult w-m">
		<div class="part-title part-title2">
			<h2><a href="/knowledge/knowledge-classes">心理课程</a></h2>
			<p class="decoration"><span>CLASSES</span></p>
			<p class="more"><a href="/knowledge/knowledge-classes">查看更多</a></p>
		</div>
		<div class="consult-con">
			<div class="test-con">
				<div class="vid">
					<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
				</div>
				<div class="test-intr">
					<h3><a href="">清华大学公开课：大学生心理健康</a></h3>
				</div>
				<div class="consult-btn btn-center">
					<a href=""><span>学习</span></a>
				</div>
			</div>
			<div class="test-con">
				<div class="vid">
					<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
				</div>
				<div class="test-intr">
					<h3><a href="">清华大学公开课：大学生心理健康</a></h3>
				</div>
				<div class="consult-btn btn-center">
					<a href=""><span>学习</span></a>
				</div>
			</div>
			<div class="test-con">
				<div class="vid">
					<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
				</div>
				<div class="test-intr">
					<h3><a href="">清华大学公开课：大学生心理健康</a></h3>
				</div>
				<div class="consult-btn btn-center">
					<a href=""><span>学习</span></a>
				</div>
			</div>
			<div class="test-con">
				<div class="vid">
					<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
				</div>
				<div class="test-intr">
					<h3><a href="">清华大学公开课：大学生心理健康</a></h3>
				</div>
				<div class="consult-btn btn-center">
					<a href=""><span>学习</span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="section section2 a-q w-m">
		<div class="part-title part-title2">
			<h2><a href="knowledge/knowledge-articles">心理文章</a></h2>
			<p class="decoration"><span>ARTICALS</span></p>
			<p class="more"><a href="">查看更多</a></p>
		</div>
		<div class="talking-con">
			<div class="article-con article-con2">
				<div class="article-title">
					<div class="article-pic">
						<a href=""><img src="" alt=""></a>
					</div>
					<div class="atitle">
						<h3><a href="">过分追求健康可导致心理疾病 </a></h3>
						<div class="btn article-btn article-btn2">
							<a href=""><span>阅读</span></a>
						</div>
					</div>
				</div>
				<div class="ans-con art-con art-con2">
					<p>健康是我们每个人的追求，大家都希望自己过的舒舒服服开开心心，而不是有疾病缠身，特别是在过年过节的时候，更加需要有一个健康的身体……</p>
				</div>
				<div class="ans-info art-info art-info2">
					<div class="user-name username-left">
						<a href=""><span>董妮妮</span></a>
					</div>
					<p>2020-9-9 19:40</p>
					<div class="info-right">
						<p><span>10</span>赞</p>
						<p><span>10</span>评论</p>
					</div>
				</div>
			</div>
			<div class="article-con article-con2">
				<div class="article-title">
					<div class="article-pic">
						<a href=""><img src="" alt=""></a>
					</div>
					<div class="atitle">
						<h3><a href="">过分追求健康可导致心理疾病 </a></h3>
						<div class="btn article-btn article-btn2">
							<a href=""><span>阅读</span></a>
						</div>
					</div>
				</div>
				<div class="ans-con art-con art-con2">
					<p>健康是我们每个人的追求，大家都希望自己过的舒舒服服开开心心，而不是有疾病缠身，特别是在过年过节的时候，更加需要有一个健康的身体……</p>
				</div>
				<div class="ans-info art-info art-info2">
					<div class="user-name username-left">
						<a href=""><span>董妮妮</span></a>
					</div>
					<p>2020-9-9 19:40</p>
					<div class="info-right">
						<p><span>10</span>赞</p>
						<p><span>10</span>评论</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section section2 pourout w-m">
		<div class="part-title part-title2">
			<h2><a href="knowledge/knowledge-books">心理书籍</a></h2>
			<p class="decoration"><span>BOOKS</span></p>
			<p class="more"><a href="knowledge/knowledge-books">查看更多</a></p>
		</div>
		<div class="consult-con">
			<div class="test-con">
				<div class="book">
					<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
				</div>
				<div class="test-intr">
					<h3><a href="">乌合之众：大众心理研究</a></h3>
				</div>
				<div class="consult-btn btn-center">
					<a href=""><span>阅读</span></a>
				</div>
			</div>
			<div class="test-con">
				<div class="book">
					<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
				</div>
				<div class="test-intr">
					<h3><a href="">乌合之众：大众心理研究</a></h3>
				</div>
				<div class="consult-btn btn-center">
					<a href=""><span>阅读</span></a>
				</div>
			</div>
			<div class="test-con">
				<div class="book">
					<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
				</div>
				<div class="test-intr">
					<h3><a href="">乌合之众：大众心理研究</a></h3>
				</div>
				<div class="consult-btn btn-center">
					<a href=""><span>阅读</span></a>
				</div>
			</div>
			<div class="test-con">
				<div class="book">
					<a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
				</div>
				<div class="test-intr">
					<h3><a href="">乌合之众：大众心理研究</a></h3>
				</div>
				<div class="consult-btn btn-center">
					<a href=""><span>阅读</span></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--引入尾部-->
<%- include("../part/foot",{js:[]})%>

