<!--引入头部-->
<%- include("../part/header",{title:"长治学院学生心理健康",css:[]})%>
<!--主体内容-->
<div id="content">
    <div class="box w-m">
        <div class="bread w-m">
            <a href="/knowledge">知识</a>
            <span>> 心理文章</span>
        </div>
        <div class="layui-tab layui-tab-brief">
            <!-- 分类 -->
            <ul class="layui-tab-title" id="art-nav">
                <li class="layui-this">今日导读</li>
                <li>心灵氧吧</li>
                <li>案例指导</li>
                <li>大学锦囊</li>
                <li>趣味心理</li>
                <li>心理史记</li>
                <li>心理知识</li>
                <li>人物专访</li>
            </ul>
            <!-- 内容 -->
            <div class="layui-tab-content" id="con">
                <!--今日导读-->
                <div class="layui-tab-item layui-show art">
                    <div id="art">
                        <div class="art-left">
                            <div class="tit">
                                <h3><a href="/knowledge/knowledge-articles/ka-details">过分追求健康可导致心理疾病</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href="/knowledge/knowledge-articles/ka-details"><img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2177087524,4174276771&fm=26&gp=0.jpg" alt=""></a>
                                <p>健康是我们每个人的追求，大家都希望自己过的舒舒服服开开心心，而不是有疾病缠身，特别是在过年过节的时候，更加需要有一个健康的身体才能活蹦乱跳地出去吃喝玩乐。但是，在对于健康的追求路上，我们也不可以太过于钻牛角尖，才不会有求全之毁的发生。</p>
                            </div>
                        </div>
                        <div class="art-left art-right">
                            <div class="tit">
                                <h3><a href="/knowledge/knowledge-articles/ka-details">身心调理其实如出一辙</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href="/knowledge/knowledge-articles/ka-details"><img src="https://img.ydlcdn.com/file/2018/12/13/8ghzqlj0evhm7qo9.jpg" alt=""></a>
                                <p>最近的一段看病经历让我联想到了心理咨询：耳朵突然被真菌感染了，还历时了好几个月，其间痛苦不堪。去看西医，找了一主任医师，他给我开了猛药，每次都是好几付的消炎药，我一看到就害怕，我说我胃不好，他还是继续开，不管我吃了后来是不是会肚子疼……</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 心灵氧吧 -->
                <div class="layui-tab-item art">
                    <div class="layui-tab layui-tab-card">
                        <ul class="layui-tab-title">
                            <li class="layui-this">健康</li>
                            <li>社交</li>
                            <li>情感</li>
                            <li>成长</li>
                            <li>职场</li>
                            <li>科普</li>
                        </ul>
                        <div class="layui-tab-content" id="con">
                            <!-- 健康 -->
                            <div class="layui-tab-item layui-show">
                                <div id="art">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">晚睡强迫症</a></h3>
                                            <p>2020-5-1 21:52</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="https://img.ydlcdn.com/file/2018/08/08/v7fy0jb45vobd7wb.jpg" alt=""></a>
                                            <p>在生活中，可能很多人都会出现一些疾病，而且就像这个晚睡强迫症也是非常常见的，经常是困得不行，还在玩手机，那么这就是晚睡强迫症，那么如何才可以纠正这个坏毛病的呢？怎么做才可以让自己尽快的去改正这个晚睡强迫症的呢……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">【我有好习惯】克服拖延症的六个方法</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/7.png" alt=""></a>
                                            <p>1. 抽象目标和具象目标。德国心理学家Sean McCrea团队发现，抽象地去考虑未来某个目标，和具体地考虑这个目标带来的效果是完全不同的。当你只在抽象的层面上考虑一个目标的时候，你会有非常大的可能性拖延；但是当你具体地去思考一个目标的完成方式、完成……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">焦虑阻断：为什么你“总是停不下来”?</a></h3>
                                            <p>2020-5-1 21:52</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="https://img.ydlcdn.com/file/2018/09/03/yhql02t6dgfzimc0.jpeg" alt=""></a>
                                            <p>人就像汽车行驶在高度公路上，往往有一种惯性，若形成一种应对模式，一旦想要改变，往往会有种刹不住车的感觉，因此就会感到不安、恐惧等情绪。对于这些焦虑的情绪，很多人往往不愿意处理或处理不来，处理不来的结果就是逃避。当然他们可能……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">【我有好习惯】应对抑郁的5种方法</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/8.png" alt=""></a>
                                            <p>消极的思维模式可能让你很难从抑郁中走出来。这主要表现在两个方面，其中一个原因很明显，如果你抱着消极的想法，你更有可能被困在抑郁的状态中。另一个原因可能会让人觉得比较意外，但却是事实，那就是抑郁症患者并不缺乏积极的情绪，他们只是不允许自……</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 社交 -->
                            <div class="layui-tab-item">
                                <div id="art">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">社交四个“怎么办”</a></h3>
                                            <p>2020-5-1 21:52</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/19.png" alt=""></a>
                                            <p>人不是天生的交际能手，良好的社交技巧是可以通过学习来掌握的，因为大部分社交上遇到的困难是由行为谬误所引起，要知道，别人是与你本人交谈，并不是与你的衣饰交谈，所以提高你自己的修养尤为重要，看看碰到下列的难题，你知道该怎么办呢……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">社交焦虑症新知</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/20.png" alt=""></a>
                                            <p>常生活中常见到这样的人：有人特别害怕猫、有人害怕外出、有人交往时过分地紧张、害羞。一百年前，人们从未把这些毛病看成是病。一个人被称作"胆小鬼"多半会被认为是性格上的缺陷。小孩子胆小也被认为是正常的事情，父母不会为此过度担心。其实，用现在的观点……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">打破，社交恐惧</a></h3>
                                            <p>2020-3-7 13:13</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/21.png" alt=""></a>
                                            <p>在我们的生活一些中，有这样一群人，他们因为种种个人或社会的原因，把自己封闭在一个狭小黑暗的圈子里，他们害怕与外界接触，害怕外界对他们做出负面评价，这就是所谓的社交恐惧症。但社交恐惧只是恐惧症中的一种，其他两种是广场恐惧和特殊恐惧。下面是一些解决方法……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">这样安慰才有效</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/22.png" alt=""></a>
                                            <p>《Healing Conversati­on》作者南丝·格尔马丁，针对如何弥补人际沟通的鸿沟、适时适度表达关心，提供了“疗效对话”的10项原则。所谓“疗效对话”，是指将心比心、设身处地的对谈，让求援者获得适度疏解，进而自然地达到“治疗的效果”。这十大原则是：聆听。聆听不是保……</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 情感 -->
                            <div class="layui-tab-item">
                                <div id="art">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">如何知道你是不是坠入了爱河?</a></h3>
                                            <p>2020-5-1 21:52</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/9.png" alt=""></a>
                                            <p>如何知道你是不是坠入了爱河？你坠入爱河了吗？你是怎么知道的？你找到真爱了吗？还是说你只是享受这种感觉？毫无疑问，一段关系的早期阶段可能会令人感到困惑。你可能因自己感觉而困惑；你可能很想知道和你约会的对象对你的真实想法；你也可能很……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">婚恋心理：有一种痴狂的爱，并不是因为深情</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/10.png" alt=""></a>
                                            <p>爱情是建立在双方的尊重与关心上，而迷恋是一方的追求和幻想。一旦你成为了对方的迷恋目标，你将很难再摆脱他/她。因为他无法忍受与你的分离，满心满眼都是你！即使每次都会遭到拒绝，甚至斥骂，他仍然会狂热地追求你。因为他停不下来……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">当我们谈论爱情时，我们在谈论什么</a></h3>
                                            <p>2020-1-7 09:13</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/11.png" alt=""></a>
                                            <p>《当我们谈论爱情时我们在谈论什么》是雷蒙德•卡佛出版于1981年的传世之作，全书讲述了如餐馆女招待、锯木厂工人、修车工、推销员和汽车旅馆管理员等社会底层的体力劳动者的生活。他们有着平凡的梦，也充满了潦倒，婚姻破裂，失业，酗酒，破产，用极简的方式叙述者社会……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">女研究生大闹奔驰店：要有掀桌的能力，更有不掀……</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/12.png" alt=""></a>
                                            <p>西安女研究生大闹奔驰4S店的事件这两天持续占据热搜榜。 4月14日是女车主30岁的生日，她一改最初的委屈和愤懑，来了场漂亮的反击战。奔驰4S店服软了，北京总部派员调查，相关监管部门积极积极参与。最新消息是，监管部门责成4S店尽快退……</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 成长 -->
                            <div class="layui-tab-item">
                                <div id="art">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">“爱自己”，不是件容易的事</a></h3>
                                            <p>2020-5-1 21:52</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/13.png" alt=""></a>
                                            <p>如何知道你是不是坠入了爱河？你坠入爱河了吗？你是怎么知道的？你找到真爱了吗？还是说你只是享受这种感觉？毫无疑问，一段关系的早期阶段可能会令人感到困惑。你可能因自己感觉而困惑；你可能很想知道和你约会的对象对你的真实想法……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">【我有好习惯】自律，出众；不自律，出局</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/10.png" alt=""></a>
                                            <p>昨天和晴子约着喝咖啡，隔壁一对情侣引起了我们的注意。姑娘眼里带着泪花，哭哭啼啼地对男友抱怨：“我不想去干兼职了，今晚还得交5000字的手写论文，我还一个字都没写，怎么办？”男生看向姑娘的眼神充满了无奈：“那你怎么不早点准备啊……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">你无法做个人人喜欢的橘子</a></h3>
                                            <p>2020-1-3 06:43</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/11.png" alt=""></a>
                                            <p>我喜欢吃橘子，而我父亲，再好的橘子也不吃。有时候我们劝他，诸如橘子富含维生素C啊，这个品种的橘子特别好吃啊等等时，他就强调说：“再好的橘子我也不喜欢吃，因为我根本就不喜欢橘子的味道。”他的话突然让我有了想法。是的，作为一个橘子……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">有些事不必多言</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/12.png" alt=""></a>
                                            <p>生活是一个动词，难过是一个伤心的句子，可是成就却是一个非凡的名词，人生总是无常，才显示了一个人的感动，在人生的角度，不是每个人都需要知识，而是每个灵魂都需要做正确的事情，有时候的失落会造就一个人的成功，有时候的无助却成为下次表达的感慨，一个人……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">【故事汇】小故事大道理：送你四个生活启示</a></h3>
                                            <p>2020-1-7 09:13</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/11.png" alt=""></a>
                                            <p>１、有一个小女孩每天都从家里走路去上学。一天早上，天气不太好，不久开始闪电、打雷，眼看就要下大雨。小女孩的妈妈很担心，赶紧开着车，沿路去找孩子。妈妈找到孩子的时候，发现小女儿一个人走在街上，却毫不惊慌，而且每次闪电时，她都停下脚步，抬头往上……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">关于你们在欢乐颂里感悟人生的行为</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/12.png" alt=""></a>
                                            <p>一部《欢乐颂》，整个朋友圈都在感悟人生。 “我们都终将会从单纯、开朗的邱莹莹、关雎尔变成现实、的樊胜美”。也有人在暗自下决心，“我要从邱莹莹变成曲筱筱”……呵呵，姑娘小伙，你们哪是看电视，分明是入戏太深。最可怕的是，很多人已经将《欢乐颂》当成……</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 职场 -->
                            <div class="layui-tab-item">
                                <div id="art">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">HR在员工眼里竟然是这个样子！好心塞！</a></h3>
                                            <p>2020-5-1 21:52</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/14.png" alt=""></a>
                                            <p>身边有位在软件公司做项目运营的朋友小周最近辞职了，那天和他一起吃饭时，小周向我倒起了公司里的苦水。 “平时基本都是996，如果只是加班，辛苦点也就算了，在客户面前和公司里还左右受气……早知道是这样的工作，当初就不会答应去！”我问他：“你应聘面试时，HR没和……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">职场风云 | 直面压力</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="https://img.ydlcdn.com/file/2019/02/22/unv5kb60o8z0xmwk.jpg" alt=""></a>
                                            <p>1.被拒 Refused。两个月很快过去，部门经理沈华休假回家待产了。若海接了沈华的工作， 忙不过来只有加班，好在年纪轻又单身倒暂时还能应付。报关员许君和英杰照常处理进出口，运输主管光明负责仓储与运输……各司其职，倒也相安无事……</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 科普 -->
                            <div class="layui-tab-item">
                                    <div id="art">
                                        <div class="art-left">
                                            <div class="tit">
                                                <h3><a href="">你的存在，就是一抹独特的颜色</a></h3>
                                                <p>2020-7-1 22:11</p>
                                            </div>
                                            <div class="art-mid">
                                                <a href=""><img src="/images/content/knowledge/15.png" alt=""></a>
                                                <p>01 我是一个胖子，虽然不是特别胖的那种，但也忽略不了我是个胖子的事实。最近降温很多，前几天我开始收拾整理衣物，将夏季服饰收起来，把过秋的衣服拿出来。不收拾不知道，一收拾，吓一跳。看着过往的衣服，我竟然变得十分排斥。因为它的颜色都是偏一色的暗色，看着让……</p>
                                            </div>
                                        </div>
                                        <div class="art-left art-right">
                                            <div class="tit">
                                                <h3><a href="">精神科医师、心理治疗师、心理咨询师都是什么概念？</a></h3>
                                                <p>2020-9-9 19:40</p>
                                            </div>
                                            <div class="art-mid">
                                                <a href=""><img src="/images/content/knowledge/16.png" alt=""></a>
                                                <p>普通老百姓对这几个概念大多是不能完全解释明白的。有问题也不是很清楚到底应该找谁。今天我给大家详细解释一下。这首先要从精神疾病的基本概念说起。近年来精神疾病的发病率呈逐年上升趋势，普通人大多都能说出几个精神疾病的病名，如“精神分裂症、抑郁症、焦虑症”等等……</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="art" class="art2">
                                        <div class="art-left">
                                            <div class="tit">
                                                <h3><a href="">大脑的秘密</a></h3>
                                                <p>2020-1-3 06:43</p>
                                            </div>
                                            <div class="art-mid">
                                                <a href=""><img src="/images/content/knowledge/17.png" alt=""></a>
                                                <p>回老家过年，看到很多孩子都是拿着手机，低着头玩得不亦乐乎。本来想好好劝一劝，后来发现媳妇一有时间也拿着手机看着小说，我也不好意思说别人了。不管怎样，我还是觉得我拿着书看跟他们拿着手机玩的概念还是很大不同的。小麦同学也越玩越疯了，根本不能自觉地去写作业……</p>
                                            </div>
                                        </div>
                                        <div class="art-left art-right">
                                            <div class="tit">
                                                <h3><a href="">揭秘记忆宫殿里的奥秘</a></h3>
                                                <p>2020-9-9 19:40</p>
                                            </div>
                                            <div class="art-mid">
                                                <a href=""><img src="/images/content/knowledge/18.png" alt=""></a>
                                                <p>"2016年的1月，BBC的神探福尔摩斯再次强势回归银幕。除了能再次回味他的毒舌、没救情商、超神眼力以外，他特有的“记忆宫殿”也重新出现。那么作为一种记忆方法，“记忆宫殿”到底是什么样？而我们也能像福尔摩斯那样用它思考吗？一、记忆宫殿：历史悠久的空间记忆术……</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="art" class="art2">
                                        <div class="art-left">
                                            <div class="tit">
                                                <h3><a href="">心理卫生和心理健康有什么区别？ </a></h3>
                                                <p>2020-1-7 09:13</p>
                                            </div>
                                            <div class="art-mid">
                                                <a href=""><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557172944956&di=03d007eb38466bd4a60369956abaf138&imgtype=0&src=http%3A%2F%2Fwww.kj12366.com.cn%2Fd%2Ffile%2F20190328%2Fc4c4c59c4e64c650f715b643aeb2d98b.jpg" alt=""></a>
                                                <p>心理卫生与心理健康本质上没有太大的区别，心理卫生指的是人们如何认识并规范自己的心理活动，了解自身在不同年龄阶段的身心发展特点，并在相应的阶段如何预防和良好化解自己的心理冲突；而心里健康则更侧重于心理卫生的基础上进一步发展，做一个心理健康、心态良好的人……</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- 案例指导 -->
                <div class="layui-tab-item art">
                    <div class="layui-tab layui-tab-card">
                        <ul class="layui-tab-title">
                            <li class="layui-this">恋爱情感</li>
                            <li>情绪压力</li>
                            <li>人际关系</li>
                            <li>家庭关系</li>
                            <li>职业发展</li>
                            <li>个人成长</li>
                            <li>性心理</li>
                        </ul>
                        <div class="layui-tab-content" id="con">
                            <!-- 恋爱情感 -->
                            <div class="layui-tab-item layui-show">
                                <div id="art">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">如何知道你是不是坠入了爱河?</a></h3>
                                            <p>2020-5-1 21:52</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/9.png" alt=""></a>
                                            <p>如何知道你是不是坠入了爱河？你坠入爱河了吗？你是怎么知道的？你找到真爱了吗？还是说你只是享受这种感觉？毫无疑问，一段关系的早期阶段可能会令人感到困惑。你可能因自己感觉而困惑；你可能很想知道和你约会的对象对你的真实想法；你也可能很……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">婚恋心理：有一种痴狂的爱，并不是因为深情</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/10.png" alt=""></a>
                                            <p>爱情是建立在双方的尊重与关心上，而迷恋是一方的追求和幻想。一旦你成为了对方的迷恋目标，你将很难再摆脱他/她。因为他无法忍受与你的分离，满心满眼都是你！即使每次都会遭到拒绝，甚至斥骂，他仍然会狂热地追求你。因为他停不下来……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">当我们谈论爱情时，我们在谈论什么</a></h3>
                                            <p>2020-1-7 09:13</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/11.png" alt=""></a>
                                            <p>《当我们谈论爱情时我们在谈论什么》是雷蒙德•卡佛出版于1981年的传世之作，全书讲述了如餐馆女招待、锯木厂工人、修车工、推销员和汽车旅馆管理员等社会底层的体力劳动者的生活。他们有着平凡的梦，也充满了潦倒，婚姻破裂，失业，酗酒，破产，用极简的方式叙述者社会……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">女研究生大闹奔驰店：要有掀桌的能力，更有不掀……</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/12.png" alt=""></a>
                                            <p>西安女研究生大闹奔驰4S店的事件这两天持续占据热搜榜。 4月14日是女车主30岁的生日，她一改最初的委屈和愤懑，来了场漂亮的反击战。奔驰4S店服软了，北京总部派员调查，相关监管部门积极积极参与。最新消息是，监管部门责成4S店尽快退……</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 情绪压力 -->
                            <div class="layui-tab-item">
                                <div id="art">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">你爱什么？</a></h3>
                                            <p>2020-5-1 21:52</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/23.png" alt=""></a>
                                            <p>咨询经过：你爱什么？爱爱我的人。你还爱什么？我想除此之外，我爱让我感到高兴的事 什么高兴的事？ 废寝忘食看一本书、日以继夜爬一座山、孜孜不倦学习一个技能……有很多让你高兴的事，你最爱什么？我的意思是其他都可以没有，只有一样你可以留下的话？我不太明白……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">社团活动，莫“贪多嚼不烂”</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/24.png" alt=""></a>
                                            <p>小红刚进校的时候，非常积极参加各种社团活动，她们宿舍甚至集体出动，所有纳新的社团组织逐个报名，接下来走马灯似的去面试。小红她们还因为报名若干却最终没被选上受到“打击”，觉得自己的能力有问题，由于报名参加的社团太多，小红越来越难有时间静下心来学习了……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">打破，社交恐惧</a></h3>
                                            <p>2020-3-7 13:13</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/21.png" alt=""></a>
                                            <p>在我们的生活一些中，有这样一群人，他们因为种种个人或社会的原因，把自己封闭在一个狭小黑暗的圈子里，他们害怕与外界接触，害怕外界对他们做出负面评价，这就是所谓的社交恐惧症。但社交恐惧只是恐惧症中的一种，其他两种是广场恐惧和特殊恐惧。下面是一些解决方法……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">这样安慰才有效</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/22.png" alt=""></a>
                                            <p>《Healing Conversati­on》作者南丝·格尔马丁，针对如何弥补人际沟通的鸿沟、适时适度表达关心，提供了“疗效对话”的10项原则。所谓“疗效对话”，是指将心比心、设身处地的对谈，让求援者获得适度疏解，进而自然地达到“治疗的效果”。这十大原则是：聆听。聆听不是保……</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 人际关系 -->
                            <div class="layui-tab-item">
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">打破，社交恐惧</a></h3>
                                            <p>2020-3-7 13:13</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/21.png" alt=""></a>
                                            <p>在我们的生活一些中，有这样一群人，他们因为种种个人或社会的原因，把自己封闭在一个狭小黑暗的圈子里，他们害怕与外界接触，害怕外界对他们做出负面评价，这就是所谓的社交恐惧症。但社交恐惧只是恐惧症中的一种，其他两种是广场恐惧和特殊恐惧。下面是一些解决方法……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">这样安慰才有效</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/22.png" alt=""></a>
                                            <p>《Healing Conversati­on》作者南丝·格尔马丁，针对如何弥补人际沟通的鸿沟、适时适度表达关心，提供了“疗效对话”的10项原则。所谓“疗效对话”，是指将心比心、设身处地的对谈，让求援者获得适度疏解，进而自然地达到“治疗的效果”。这十大原则是：聆听。聆听不是保……</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 家庭关系 -->
                            <div class="layui-tab-item">
                                <div id="art">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">“爱自己”，不是件容易的事</a></h3>
                                            <p>2020-5-1 21:52</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/13.png" alt=""></a>
                                            <p>如何知道你是不是坠入了爱河？你坠入爱河了吗？你是怎么知道的？你找到真爱了吗？还是说你只是享受这种感觉？毫无疑问，一段关系的早期阶段可能会令人感到困惑。你可能因自己感觉而困惑；你可能很想知道和你约会的对象对你的真实想法……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">【我有好习惯】自律，出众；不自律，出局</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/10.png" alt=""></a>
                                            <p>昨天和晴子约着喝咖啡，隔壁一对情侣引起了我们的注意。姑娘眼里带着泪花，哭哭啼啼地对男友抱怨：“我不想去干兼职了，今晚还得交5000字的手写论文，我还一个字都没写，怎么办？”男生看向姑娘的眼神充满了无奈：“那你怎么不早点准备啊……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">你无法做个人人喜欢的橘子</a></h3>
                                            <p>2020-1-3 06:43</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/11.png" alt=""></a>
                                            <p>我喜欢吃橘子，而我父亲，再好的橘子也不吃。有时候我们劝他，诸如橘子富含维生素C啊，这个品种的橘子特别好吃啊等等时，他就强调说：“再好的橘子我也不喜欢吃，因为我根本就不喜欢橘子的味道。”他的话突然让我有了想法。是的，作为一个橘子……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">有些事不必多言</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/12.png" alt=""></a>
                                            <p>生活是一个动词，难过是一个伤心的句子，可是成就却是一个非凡的名词，人生总是无常，才显示了一个人的感动，在人生的角度，不是每个人都需要知识，而是每个灵魂都需要做正确的事情，有时候的失落会造就一个人的成功，有时候的无助却成为下次表达的感慨，一个人……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">【故事汇】小故事大道理：送你四个生活启示</a></h3>
                                            <p>2020-1-7 09:13</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/11.png" alt=""></a>
                                            <p>１、有一个小女孩每天都从家里走路去上学。一天早上，天气不太好，不久开始闪电、打雷，眼看就要下大雨。小女孩的妈妈很担心，赶紧开着车，沿路去找孩子。妈妈找到孩子的时候，发现小女儿一个人走在街上，却毫不惊慌，而且每次闪电时，她都停下脚步，抬头往上……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">关于你们在欢乐颂里感悟人生的行为</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/12.png" alt=""></a>
                                            <p>一部《欢乐颂》，整个朋友圈都在感悟人生。 “我们都终将会从单纯、开朗的邱莹莹、关雎尔变成现实、的樊胜美”。也有人在暗自下决心，“我要从邱莹莹变成曲筱筱”……呵呵，姑娘小伙，你们哪是看电视，分明是入戏太深。最可怕的是，很多人已经将《欢乐颂》当成……</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 职业发展 -->
                            <div class="layui-tab-item">
                                <div id="art">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">HR在员工眼里竟然是这个样子！好心塞！</a></h3>
                                            <p>2020-5-1 21:52</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/14.png" alt=""></a>
                                            <p>身边有位在软件公司做项目运营的朋友小周最近辞职了，那天和他一起吃饭时，小周向我倒起了公司里的苦水。 “平时基本都是996，如果只是加班，辛苦点也就算了，在客户面前和公司里还左右受气……早知道是这样的工作，当初就不会答应去！”我问他：“你应聘面试时，HR没和……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">职场风云 | 直面压力</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="https://img.ydlcdn.com/file/2019/02/22/unv5kb60o8z0xmwk.jpg" alt=""></a>
                                            <p>1.被拒 Refused。两个月很快过去，部门经理沈华休假回家待产了。若海接了沈华的工作， 忙不过来只有加班，好在年纪轻又单身倒暂时还能应付。报关员许君和英杰照常处理进出口，运输主管光明负责仓储与运输……各司其职，倒也相安无事……</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 个人成长 -->
                            <div class="layui-tab-item">
                                <div id="art">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">你的存在，就是一抹独特的颜色</a></h3>
                                            <p>2020-7-1 22:11</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/15.png" alt=""></a>
                                            <p>01 我是一个胖子，虽然不是特别胖的那种，但也忽略不了我是个胖子的事实。最近降温很多，前几天我开始收拾整理衣物，将夏季服饰收起来，把过秋的衣服拿出来。不收拾不知道，一收拾，吓一跳。看着过往的衣服，我竟然变得十分排斥。因为它的颜色都是偏一色的暗色，看着让……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">社团活动，莫“贪多嚼不烂”</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/24.png" alt=""></a>
                                            <p>小红刚进校的时候，非常积极参加各种社团活动，她们宿舍甚至集体出动，所有纳新的社团组织逐个报名，接下来走马灯似的去面试。小红她们还因为报名若干却最终没被选上受到“打击”，觉得自己的能力有问题，由于报名参加的社团太多，小红越来越难有时间静下心来学习了……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">大脑的秘密</a></h3>
                                            <p>2020-1-3 06:43</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/17.png" alt=""></a>
                                            <p>回老家过年，看到很多孩子都是拿着手机，低着头玩得不亦乐乎。本来想好好劝一劝，后来发现媳妇一有时间也拿着手机看着小说，我也不好意思说别人了。不管怎样，我还是觉得我拿着书看跟他们拿着手机玩的概念还是很大不同的。小麦同学也越玩越疯了，根本不能自觉地去写作业……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">揭秘记忆宫殿里的奥秘</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/18.png" alt=""></a>
                                            <p>"2016年的1月，BBC的神探福尔摩斯再次强势回归银幕。除了能再次回味他的毒舌、没救情商、超神眼力以外，他特有的“记忆宫殿”也重新出现。那么作为一种记忆方法，“记忆宫殿”到底是什么样？而我们也能像福尔摩斯那样用它思考吗？一、记忆宫殿：历史悠久的空间记忆术……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">心理卫生和心理健康有什么区别？ </a></h3>
                                            <p>2020-1-7 09:13</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557172944956&di=03d007eb38466bd4a60369956abaf138&imgtype=0&src=http%3A%2F%2Fwww.kj12366.com.cn%2Fd%2Ffile%2F20190328%2Fc4c4c59c4e64c650f715b643aeb2d98b.jpg" alt=""></a>
                                            <p>心理卫生与心理健康本质上没有太大的区别，心理卫生指的是人们如何认识并规范自己的心理活动，了解自身在不同年龄阶段的身心发展特点，并在相应的阶段如何预防和良好化解自己的心理冲突；而心里健康则更侧重于心理卫生的基础上进一步发展，做一个心理健康、心态良好的人……</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- 性心理 -->
                            <div class="layui-tab-item">
                                <div id="art">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">你的存在，就是一抹独特的颜色</a></h3>
                                            <p>2020-7-1 22:11</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/15.png" alt=""></a>
                                            <p>01 我是一个胖子，虽然不是特别胖的那种，但也忽略不了我是个胖子的事实。最近降温很多，前几天我开始收拾整理衣物，将夏季服饰收起来，把过秋的衣服拿出来。不收拾不知道，一收拾，吓一跳。看着过往的衣服，我竟然变得十分排斥。因为它的颜色都是偏一色的暗色，看着让……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">精神科医师、心理治疗师、心理咨询师都是什么概念？</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/16.png" alt=""></a>
                                            <p>普通老百姓对这几个概念大多是不能完全解释明白的。有问题也不是很清楚到底应该找谁。今天我给大家详细解释一下。这首先要从精神疾病的基本概念说起。近年来精神疾病的发病率呈逐年上升趋势，普通人大多都能说出几个精神疾病的病名，如“精神分裂症、抑郁症、焦虑症”等等……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">大脑的秘密</a></h3>
                                            <p>2020-1-3 06:43</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/17.png" alt=""></a>
                                            <p>回老家过年，看到很多孩子都是拿着手机，低着头玩得不亦乐乎。本来想好好劝一劝，后来发现媳妇一有时间也拿着手机看着小说，我也不好意思说别人了。不管怎样，我还是觉得我拿着书看跟他们拿着手机玩的概念还是很大不同的。小麦同学也越玩越疯了，根本不能自觉地去写作业……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">揭秘记忆宫殿里的奥秘</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/18.png" alt=""></a>
                                            <p>"2016年的1月，BBC的神探福尔摩斯再次强势回归银幕。除了能再次回味他的毒舌、没救情商、超神眼力以外，他特有的“记忆宫殿”也重新出现。那么作为一种记忆方法，“记忆宫殿”到底是什么样？而我们也能像福尔摩斯那样用它思考吗？一、记忆宫殿：历史悠久的空间记忆术……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">心理卫生和心理健康有什么区别？ </a></h3>
                                            <p>2020-1-7 09:13</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557172944956&di=03d007eb38466bd4a60369956abaf138&imgtype=0&src=http%3A%2F%2Fwww.kj12366.com.cn%2Fd%2Ffile%2F20190328%2Fc4c4c59c4e64c650f715b643aeb2d98b.jpg" alt=""></a>
                                            <p>心理卫生与心理健康本质上没有太大的区别，心理卫生指的是人们如何认识并规范自己的心理活动，了解自身在不同年龄阶段的身心发展特点，并在相应的阶段如何预防和良好化解自己的心理冲突；而心里健康则更侧重于心理卫生的基础上进一步发展，做一个心理健康、心态良好的人……</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 大学锦囊 -->
                <div class="layui-tab-item art">
                    <div class="layui-tab layui-tab-card">
                        <ul class="layui-tab-title">
                            <li class="layui-this">新生入学</li>
                            <li>我是大学生</li>
                            <li>要努力鸭</li>
                            <li>我有好室友</li>
                            <li>毕业那年</li>
                        </ul>
                        <div class="layui-tab-content" id="con">
                            <!-- 新生入学 -->
                            <div class="layui-tab-item layui-show">
                                <div id="art">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">陌生人写给你的一封信</a></h3>
                                            <p>2020-5-1 21:52</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557174916567&di=25b079ae7a6903a5961330e991ccbcbc&imgtype=0&src=http%3A%2F%2Fimg.9ku.com%2Fgeshoutuji%2Fsingertuji%2F2%2F2387%2F2387_7.jpg" alt=""></a>
                                            <p>心理导读：不知道你看到我这个陌生人给你写信，一开始会是什么感觉。可能你只是好奇，觉得反正刷着豆瓣刷着微博也无聊，就点进来看看好了。在你眼中未来便像这封信一样，你完全不知道接下来会发生什么，也没有做过多期待。亲爱的年轻人……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">致大学新生：5个心理准备，让你更快地适应大……</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/25.png" alt=""></a>
                                            <p>“老师，我从小到大都没离开过家，现在要到外省去读大学，随着开学的时间越来越近，一想到我要离开爸爸妈妈我就不开心，最近几晚都是哭着睡，我该怎么办呢？”“明天就正式上课了，大学，梦想的大学，为什么感觉好怪，不知道该怎么办，心慌……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">大一新生需要哪三个转变</a></h3>
                                            <p>2020-1-7 09:13</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/26.png" alt=""></a>
                                            <p>新学期伊始，不少大一新生对陌生的大学生活感到不适应。哈尔滨工业大学等高校的老师提醒新同学，大学生活与中学存在很多差异，要想尽快适应，新生需要做好“三个转变”。一是转变依靠家长和老师督导学习的心理，培养自主学习意识。中学里，不少学生遇到问题时能够得到……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">大一新生的5种常见消极心理</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/27.png" alt=""></a>
                                            <p>每年9月，莘莘学子们，带着或喜悦、或无奈的种种心态跨入大学校门，进入人生发展的新起点。大学生活无论在生活环境、学习要求、人际关系、管理制度等方面都与中学生活有极大差异。经过短暂的生活体验后，在新鲜感逐渐消褪后，各种各样的适应问题凸现出来。因此，如何引导新……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">如何让别人3分钟记住你？</a></h3>
                                            <p>2020-1-7 09:13</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/28.png" alt=""></a>
                                            <p>有些人，不管与别人见过多少面，对方都不一定记得他。而有些人，第一次见面，就会给别人留下深刻的印象。假如给你三分钟时间，你该如何介绍自己呢？《3分钟让别人记住你》这本书就是告诉你如何在短时间内让对方记住你。助你求职面试、相亲寻爱、销售、投资等取得……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">我的大一有些废</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/29.png" alt=""></a>
                                            <p>小编导读：知道刚刚入学的大家对大学生活既充满了期待又满怀忐忑，那么就来看看经历了大一一年大学生活的学长是怎么看待的吧。【思索的决口】在高考填志愿的那几天被叫一声学长，内心不是兴奋反而是担忧和惶恐，所以就一直在想既然作为学长，那么我比你们到底多学了什么……</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 我是大学生 -->
                            <div class="layui-tab-item">
                                <div id="art">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">大学究竟该如何度过</a></h3>
                                            <p>2020-5-1 21:52</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557771735&di=92102d041cd00a04abbf504d23a75a39&imgtype=jpg&er=1&src=http%3A%2F%2Fcz.sxgov.cn%2Fimage%2Fattachement%2Fjpg%2Fsite2%2F20181018%2Fd43d7e2bc6191d3286d510.jpg" alt=""></a>
                                            <p>1.进入大学，你的所有过去对于他们来说是一张白纸，这是你最好重新塑造自己形象的时候。
                                                    2.大学可能有真实的爱情，但只是可能。很多时候他们是因为别人都谈恋爱而羡慕或者别的原因而在一起。
                                                    3.你在大学有很多意外用钱的地方。为了你的家人和你自己的前途，永远别乱花钱……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">社团活动，莫“贪多嚼不烂”</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/24.png" alt=""></a>
                                            <p>小红刚进校的时候，非常积极参加各种社团活动，她们宿舍甚至集体出动，所有纳新的社团组织逐个报名，接下来走马灯似的去面试。小红她们还因为报名若干却最终没被选上受到“打击”，觉得自己的能力有问题，由于报名参加的社团太多，小红越来越难有时间静下心来学习了……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">大学里助你成功的十个好习惯</a></h3>
                                            <p>2020-3-7 13:13</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557177068341&di=7bb958b170937ba0936fc5827f4a02d7&imgtype=0&src=http%3A%2F%2Fwww.jqjy.net.cn%2Fuploads%2Fallimg%2F150317%2F7-15031G15TIN.jpg" alt=""></a>
                                            <p>在成功的路上，习惯有着举足轻重的作用，而大学四年养成的习惯将会影响你一生的发展。如果你还没养成这些好的习惯，从现在开始做，一切都还来得及。
                                                1、培养自主学习的能力
                                                读大学，不再有老师和家长跟着你背后督促你学习了，这并不代表你可以随便玩了。这时候，你需要开始慢慢培养你的……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">未来就在脚下</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/30.png" alt=""></a>
                                            <p>不知道什么时候喜欢上了诉诸文字，莫名的感觉就会不定时的在脑海占领一片领地，前几天在一站到底上对 戴潍娜的才情顶礼膜拜，意乱情迷，偶然间在知乎的网站上发现了去年语文老师提及的程浩的素材，一年多过去了程浩的那句话仍旧是那么掷地有声：我们坚持的原因不是……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">在20岁到29岁这个阶段你需要做些什么？</a></h3>
                                            <p>2020-3-7 13:13</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/31.png" alt=""></a>
                                            <p>马克·吐温曾说过：“忧虑就是你在偿还你并未欠的债。”青年危机是一个真实的东西，我们中的很多人在年轻时会非常焦虑，所谓青春无忧的快乐日子是不存在的。你刚从学校出来，要去争取更好的工作和岗位，急于找到一个立足之地，有数以百计的不同情况，但他们拥有的唯……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">大学四年，你最大的收获应该是孤独</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557771993&di=e443f9fab24eb91344317039a7ad7a02&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.cyol.com%2Fimg%2Fnews%2Fattachement%2Fjpg%2Fsite2%2F20180731%2FIMG005056c0000148304436224.jpg" alt=""></a>
                                            <p>6月的到来，对于其他人来说没有什么特别之处，但是对于学生来说却意义非凡，因为这个时节意味着，交替和成长。到了这个时候，你的学龄马上又要大一岁，你即将成为更富有经验的学习者。一个学年结束，你需要回顾、总结、展望，看看这一年中你学会了什么，又错过了些什……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">人生序幕的差距在这里拉开</a></h3>
                                            <p>2020-3-7 13:13</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/32.png" alt=""></a>
                                            <p>在我们的生活一些中，有这样一群人，他们因为种种个人或社会的原因，把自己封闭在一个狭小黑暗的圈子里，他们害怕与外界接触，害怕外界对他们做出负面评价，这就是所谓的社交恐惧症。但社交恐惧只是恐惧症中的一种，其他两种是广场恐惧和特殊恐惧。下面是一些解决方法……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">大学生必看的33本书</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/33.png" alt=""></a>
                                            <p>中外文学１.《三国演义》罗贯中。《三国演义》是一部长篇历史小说，是一部包含着丰富的智慧和谋略的杰作。它七分真实，三分虚构，描绘了三国乱世的广阔战场及尖锐复杂的政治斗争，塑造了许多栩栩如生的历史人物形象，比如中国人智慧的象征诸葛亮，枭雄的代表曹操等……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">大学必须做的十件事</a></h3>
                                            <p>2020-3-7 13:13</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557772221&di=db5836459f17c207c373984aaba549f3&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.mp.itc.cn%2Fq_mini%2Cc_zoom%2Cw_640%2Fupload%2F20170705%2F66a712e8a1e04745b7ab5c96858a19bf_th.jpg" alt=""></a>
                                            <p>1、抽空学习―――不是为了通过考试，那是件太容易的事。不论是否满意，既然已经进了大学，注定要在这里呆四年，那么当你要离开时总要有所收获才行，只能是在“学习向一切让路”时，让别的事也给学习一条活路！更何况，现在学习是走出校园得到一个饭碗的唯一的资本！读书无……</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 要努力鸭 -->
                            <div class="layui-tab-item">
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">你只是看起来很努力</a></h3>
                                            <p>2020-3-7 13:13</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557177867018&di=1d062af1d1620d405abd6d1ce8e0af6c&imgtype=0&src=http%3A%2F%2Fww1.sinaimg.cn%2Fbmiddle%2F8d5c03a7jw1eqjipkqx0qj20se0fstbh.jpg" alt=""></a>
                                            <p>一次上课，一个女孩子垂头丧气的跟我说，老师，我考了四次四级，还没过，究竟是为什么。
                                                    我说，你真题做了吗？单词背了吗？
                                                    她拿出已经翻破了的真题，跟我说，你讲的所有的题目我连答案都记得，单词书也背了很多遍了，我这么努力，为什么过不了。
                                                    ……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">最好的休息不是睡觉</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557177975755&di=4cdfc171f42275d0db22ffff04386f42&imgtype=0&src=http%3A%2F%2Fimg.kj-cy.cn%2Fuploads%2Flitimg%2F20170206%2F1486353615520039.jpg" alt=""></a>
                                            <p>认识的网络红人A是一个激情四射的男人，感觉他每天都有用不完的时间：写书、讲课、看书、赚钱、参加各种节目，他把自己的时间分割成很多个小部分，今天这个部分干什么，那个部分干什么。这些部分被分割得很细致，以至于每天的时间都不浪费，一年内，他的事业突……</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 我有好室友 -->
                            <div class="layui-tab-item">
                                <div id="art">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">“爱自己”，不是件容易的事</a></h3>
                                            <p>2020-5-1 21:52</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/13.png" alt=""></a>
                                            <p>如何知道你是不是坠入了爱河？你坠入爱河了吗？你是怎么知道的？你找到真爱了吗？还是说你只是享受这种感觉？毫无疑问，一段关系的早期阶段可能会令人感到困惑。你可能因自己感觉而困惑；你可能很想知道和你约会的对象对你的真实想法……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">【我有好习惯】自律，出众；不自律，出局</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/10.png" alt=""></a>
                                            <p>昨天和晴子约着喝咖啡，隔壁一对情侣引起了我们的注意。姑娘眼里带着泪花，哭哭啼啼地对男友抱怨：“我不想去干兼职了，今晚还得交5000字的手写论文，我还一个字都没写，怎么办？”男生看向姑娘的眼神充满了无奈：“那你怎么不早点准备啊……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">你无法做个人人喜欢的橘子</a></h3>
                                            <p>2020-1-3 06:43</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/11.png" alt=""></a>
                                            <p>我喜欢吃橘子，而我父亲，再好的橘子也不吃。有时候我们劝他，诸如橘子富含维生素C啊，这个品种的橘子特别好吃啊等等时，他就强调说：“再好的橘子我也不喜欢吃，因为我根本就不喜欢橘子的味道。”他的话突然让我有了想法。是的，作为一个橘子……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">有些事不必多言</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/12.png" alt=""></a>
                                            <p>生活是一个动词，难过是一个伤心的句子，可是成就却是一个非凡的名词，人生总是无常，才显示了一个人的感动，在人生的角度，不是每个人都需要知识，而是每个灵魂都需要做正确的事情，有时候的失落会造就一个人的成功，有时候的无助却成为下次表达的感慨，一个人……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">【故事汇】小故事大道理：送你四个生活启示</a></h3>
                                            <p>2020-1-7 09:13</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/11.png" alt=""></a>
                                            <p>１、有一个小女孩每天都从家里走路去上学。一天早上，天气不太好，不久开始闪电、打雷，眼看就要下大雨。小女孩的妈妈很担心，赶紧开着车，沿路去找孩子。妈妈找到孩子的时候，发现小女儿一个人走在街上，却毫不惊慌，而且每次闪电时，她都停下脚步，抬头往上……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">关于你们在欢乐颂里感悟人生的行为</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/12.png" alt=""></a>
                                            <p>一部《欢乐颂》，整个朋友圈都在感悟人生。 “我们都终将会从单纯、开朗的邱莹莹、关雎尔变成现实、的樊胜美”。也有人在暗自下决心，“我要从邱莹莹变成曲筱筱”……呵呵，姑娘小伙，你们哪是看电视，分明是入戏太深。最可怕的是，很多人已经将《欢乐颂》当成……</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 毕业那年 -->
                            <div class="layui-tab-item">
                                <div id="art">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">四大压力困扰大四生</a></h3>
                                            <p>2020-5-1 21:52</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/35.png" alt=""></a>
                                            <p>来源：温州日报。小非（化名），温州大学03届大四学生，这学期不仅报考了研究生，还报了国家及地方公务员，以及计算机三级、英语六级等考试。然而，现在的小非却感觉到前所未有的迷茫：“与当初考大学时的目标明确比较起来，现在我觉得自己失去了方……</p>
                                        </div>
                                    </div>
                                    <div class="art-left art-right">
                                        <div class="tit">
                                            <h3><a href="">羊群效应：别做盲目跟随的那只“羊”</a></h3>
                                            <p>2020-9-9 19:40</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="/images/content/knowledge/34.png" alt=""></a>
                                            <p>在一群羊前面横放一根木棍，第一只羊跳了过去，第二只、第三只也会跟着跳过去;这时，把那根棍子撤走，后面的羊走到这里，仍然像前面的羊一样，向上跳一下，尽管拦路的棍子已经不在了，这就是所谓的"羊群效应"，也称"从众心理"。很多时候我们不得不放弃自己……</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="art" class="art2">
                                    <div class="art-left">
                                        <div class="tit">
                                            <h3><a href="">生活，在哪里都一样</a></h3>
                                            <p>2020-2-3 06:43</p>
                                        </div>
                                        <div class="art-mid">
                                            <a href=""><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557178283042&di=8422f684454ee19a35d6c1fbfb8251f2&imgtype=0&src=http%3A%2F%2Fwww.rs66.com%2Fd%2Ffile%2F20181021%2Ff6fb661f0cdf87d672f46712b6ee4c45.jpg" alt=""></a>
                                            <p>一九八三年，一个姑娘放弃了考大学，留在父亲所在的镇上做了一名中学英语教师。二十一岁的时候，她因相亲认识了一个乡镇干部，然后经组织认可而结婚，两年后，她有了一个女儿，三口之家非常幸福。二十五年后，五十岁的她已经经历了……</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 趣味心理 -->
                <div class="layui-tab-item art">
                    <div id="art">
                        <div class="art-left">
                            <div class="tit">
                                <h3><a href="">6个有趣的心理现象</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1037914758,1198051012&fm=26&gp=0.jpg" alt=""></a>
                                <p>一、人类面对信息越多选择结果越差。常言道，“箩里选瓜，越拣越差。”美国心理中心网近日报道，美国《决策与判断心理学》杂志刊登的一项最新研究显示，信息越多，选择结果越差。美国得克萨斯大学研究人员表示，人们通常认为，掌握的相关信息越多，做出的决……</p>
                            </div>
                        </div>
                        <div class="art-left art-right">
                            <div class="tit">
                                <h3><a href="">有趣的心理效应————超限效应</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/37.png" alt=""></a>
                                <p>美国著名幽默作家马克•吐温有一次在教堂听牧师演讲。最初，他觉得牧师讲得很好，使人感动，准备捐款。过了10分钟，牧师还没有讲完，他有些不耐烦了，决定只捐一些零钱。又过了10分钟，牧师还没有讲完，于是他决定，1分钱也不捐。到牧师终于结束了冗长的演……</p>
                            </div>
                        </div>
                    </div>
                    <div id="art" class="art2">
                        <div class="art-left">
                            <div class="tit">
                                <h3><a href="">有趣的心理实验和规律</a></h3>
                                <p>2020-1-7 09:13</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/38.png" alt=""></a>
                                <p>1、“感觉剥夺”实验。1954年，加拿大麦克吉尔大学的心理学家首先进行了“感觉剥夺”实验：实验中给被试者戴上半透明的护目镜，使其难以产生视觉；用空气调节器发出的单调声音限制其听觉；手臂戴上纸筒套袖和手套，腿脚用夹板固定，限制其触觉。被试单独呆在实验室里，几小时……</p>
                            </div>
                        </div>
                        <div class="art-left art-right">
                            <div class="tit">
                                <h3><a href="">邻里效应</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557179391870&di=152f3ddfec77153fbc8cf8d9c160ab4e&imgtype=0&src=http%3A%2F%2Fs.woniu8.com%2Fimg%2Fjingxin%2Fnews%2F2016%2F11%2F202.jpg" alt=""></a>
                                <p>注意你身边的“邻里效应”。俗话说：“远亲不如近邻。”此话不假，比如，人们大部分的朋友，不是同学同事，便是近邻。又如，人们总是能够比较方便地在伺学同事或邻居中找意中人，而所谓“千里姻缘一线牵”总归是不太多的。美国社会学家巴萨德20年代研究了费城的5000份结婚申请……</p>
                            </div>
                        </div>
                    </div>
                    <div id="art" class="art2">
                        <div class="art-left">
                            <div class="tit">
                                <h3><a href="">因为一个鼠标垫，让我走上了人生巅峰</a></h3>
                                <p>2020-1-7 09:13</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557179606491&di=dad81151f70f4ee688fbe666f4c033f4&imgtype=0&src=http%3A%2F%2Fimg4.xafc.com%2F2018%2F0713%2F1531475334379842.jpg" alt=""></a>
                                <p>最近，小编看到一个段子：买东西送了一个鼠标垫，这有了鼠标垫吧，总得买个鼠标配着吧，这有了鼠标，没有电脑怎么行，有了电脑总要有个电脑桌吧，电脑桌放哪呢？要有个房子，房子总不能空着没人住吧，对，要娶个老婆，有了老婆孩子也必须要有啊……就这样，我走上了……</p>
                            </div>
                        </div>
                        <div class="art-left art-right">
                            <div class="tit">
                                <h3><a href="">鲇鱼效应</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/36.png" alt=""></a>
                                <p>水池里养着一群鱼，由于缺乏外界刺激，这些鱼变得死气沉沉，容易死亡。渔民偶然把几条鲇鱼放在这群鱼里，却发现一个奇怪的现象：由于鲇鱼喜欢挤来挤去，整个水池里的鱼都被带动起来而显得生机勃勃，所以渔民喜欢放几条鲇鱼在里面增加全体鱼的活力与寿命。在经……</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 心理史记 -->
                <div class="layui-tab-item art">
                    <div id="art">
                        <div class="art-left">
                            <div class="tit">
                                <h3><a href="">弗洛伊德与荣格</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/53.png" alt=""></a>
                                <p>一、人类面对信息越多选择结果越差。常言道，“箩里选瓜，越拣越差。”美国心理中心网近日报道，美国《决策与判断心理学》杂志刊登的一项最新研究显示，信息越多，选择结果越差。美国得克萨斯大学研究人员表示，人们通常认为，掌握的相关信息越多，做出的决……</p>
                            </div>
                        </div>
                        <div class="art-left art-right">
                            <div class="tit">
                                <h3><a href="">心理学大事年表</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557809237&di=9f818239f13aaf633ae6ac833b049323&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.mp.itc.cn%2Fupload%2F20160526%2F7103ff47108049969ad75c6c2b046236_th.jpg" alt=""></a>
                                <p>美国著名幽默作家马克•吐温有一次在教堂听牧师演讲。最初，他觉得牧师讲得很好，使人感动，准备捐款。过了10分钟，牧师还没有讲完，他有些不耐烦了，决定只捐一些零钱。又过了10分钟，牧师还没有讲完，于是他决定，1分钱也不捐。到牧师终于结束了冗长的演……</p>
                            </div>
                        </div>
                    </div>
                    <div id="art" class="art2">
                        <div class="art-left">
                            <div class="tit">
                                <h3><a href="">行为主义学派的创始人————华生</a></h3>
                                <p>2020-1-7 09:13</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/52.png" alt=""></a>
                                <p>1、“感觉剥夺”实验。1954年，加拿大麦克吉尔大学的心理学家首先进行了“感觉剥夺”实验：实验中给被试者戴上半透明的护目镜，使其难以产生视觉；用空气调节器发出的单调声音限制其听觉；手臂戴上纸筒套袖和手套，腿脚用夹板固定，限制其触觉。被试单独呆在实验室里，几小时后开始感到恐慌……</p>
                            </div>
                        </div>
                        <div class="art-left art-right">
                            <div class="tit">
                                <h3><a href="">中国心理科学走向世界的历程</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/54.png" alt=""></a>
                                <p>注意你身边的“邻里效应”。俗话说：“远亲不如近邻。”此话不假，比如，人们大部分的朋友，不是同学同事，便是近邻。又如，人们总是能够比较方便地在伺学同事或邻居中找意中人，而所谓“千里姻缘一线牵”总归是不太多的。美国社会学家巴萨德20年代研究了费城的5000份结婚申请……</p>
                            </div>
                        </div>
                    </div>
                    <div id="art" class="art2">
                        <div class="art-left">
                            <div class="tit">
                                <h3><a href="">心理学历史上的三大转折</a></h3>
                                <p>2020-1-7 09:13</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/55.png" alt=""></a>
                                <p>最近，小编看到一个段子：买东西送了一个鼠标垫，这有了鼠标垫吧，总得买个鼠标配着吧，这有了鼠标，没有电脑怎么行，有了电脑总要有个电脑桌吧，电脑桌放哪呢？要有个房子，房子总不能空着没人住吧，对，要娶个老婆，有了老婆孩子也必须要有啊……就这样，我走上了人生巅峰。究其本质，这……</p>
                            </div>
                        </div>
                        <div class="art-left art-right">
                            <div class="tit">
                                <h3><a href="">弗罗伊德的尴尬</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/56.png" alt=""></a>
                                <p>水池里养着一群鱼，由于缺乏外界刺激，这些鱼变得死气沉沉，容易死亡。渔民偶然把几条鲇鱼放在这群鱼里，却发现一个奇怪的现象：由于鲇鱼喜欢挤来挤去，整个水池里的鱼都被带动起来而显得生机勃勃，所以渔民喜欢放几条鲇鱼在里面增加全体鱼的活力与寿命。在经济、文化等活动中引入竞……</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 心理知识 -->
                <div class="layui-tab-item art">
                    <div id="art">
                        <div class="art-left">
                            <div class="tit">
                                <h3><a href="">蔡格尼克记忆效应</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/48.png" alt=""></a>
                                <p>一、人类面对信息越多选择结果越差。常言道，“箩里选瓜，越拣越差。”美国心理中心网近日报道，美国《决策与判断心理学》杂志刊登的一项最新研究显示，信息越多，选择结果越差。美国得克萨斯大学研究人员表示，人们通常认为，掌握的相关信息越多，做出的决……</p>
                            </div>
                        </div>
                        <div class="art-left art-right">
                            <div class="tit">
                                <h3><a href="">瓦拉赫效应</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/49.png" alt=""></a>
                                <p>美国著名幽默作家马克•吐温有一次在教堂听牧师演讲。最初，他觉得牧师讲得很好，使人感动，准备捐款。过了10分钟，牧师还没有讲完，他有些不耐烦了，决定只捐一些零钱。又过了10分钟，牧师还没有讲完，于是他决定，1分钱也不捐。到牧师终于结束了冗长的演……</p>
                            </div>
                        </div>
                    </div>
                    <div id="art" class="art2">
                        <div class="art-left">
                            <div class="tit">
                                <h3><a href="">名片效应</a></h3>
                                <p>2020-1-7 09:13</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/50.png" alt=""></a>
                                <p>1、“感觉剥夺”实验。1954年，加拿大麦克吉尔大学的心理学家首先进行了“感觉剥夺”实验：实验中给被试者戴上半透明的护目镜，使其难以产生视觉；用空气调节器发出的单调声音限制其听觉；手臂戴上纸筒套袖和手套，腿脚用夹板固定，限制其触觉。被试单独呆在实验室里……</p>
                            </div>
                        </div>
                        <div class="art-left art-right">
                            <div class="tit">
                                <h3><a href="">踢猫效应</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/42.png" alt=""></a>
                                <p>踢猫效应（Kick Cat Effect）是指对弱于自己或者等级低于自己的对象发泄不满情绪，而产生的连锁反应。“踢猫效应”，描绘的是一种典型的坏情绪的传染。人的不满情绪和糟糕心情，一般会沿着等级和强弱组成的社会关系链条依次传递。由金字塔尖一直扩散到最底……</p>
                            </div>
                        </div>
                    </div>
                    <div id="art" class="art2">
                        <div class="art-left">
                            <div class="tit">
                                <h3><a href="">肥皂水效应</a></h3>
                                <p>2020-1-7 09:13</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/51.png" alt=""></a>
                                <p>最近，小编看到一个段子：买东西送了一个鼠标垫，这有了鼠标垫吧，总得买个鼠标配着吧，这有了鼠标，没有电脑怎么行，有了电脑总要有个电脑桌吧，电脑桌放哪呢？要有个房子，房子总不能空着没人住吧，对，要娶个老婆，有了老婆孩子也必须要有啊……就这样，我……</p>
                            </div>
                        </div>
                        <div class="art-left art-right">
                            <div class="tit">
                                <h3><a href="">心理成熟的人，大都经历这三个发展阶段，你在……</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/47.png" alt=""></a>
                                <p>水池里养着一群鱼，由于缺乏外界刺激，这些鱼变得死气沉沉，容易死亡。渔民偶然把几条鲇鱼放在这群鱼里，却发现一个奇怪的现象：由于鲇鱼喜欢挤来挤去，整个水池里的鱼都被带动起来而显得生机勃勃，所以渔民喜欢放几条鲇鱼在里面增加全体鱼的活力与寿命。在……</p>
                            </div>
                        </div>
                    </div>
                    <div id="art" class="art2">
                        <div class="art-left">
                            <div class="tit">
                                <h3><a href="">帕金森定律</a></h3>
                                <p>2020-1-7 09:13</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/46.png" alt=""></a>
                                <p>最近，小编看到一个段子：买东西送了一个鼠标垫，这有了鼠标垫吧，总得买个鼠标配着吧，这有了鼠标，没有电脑怎么行，有了电脑总要有个电脑桌吧，电脑桌放哪呢？要有个房子，房子总不能空着没人住吧，对，要娶个老婆，有了老婆孩子也必须要有啊……就这样，我走……</p>
                            </div>
                        </div>
                        <div class="art-left art-right">
                            <div class="tit">
                                <h3><a href="">心理小知识：惯性思维</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557210716994&di=b0ab687b7eaa8e21cd08de7089f042e9&imgtype=0&src=http%3A%2F%2Fs1.sinaimg.cn%2Fmw690%2F003WxHUzzy7mj9WckkE30%26690" alt=""></a>
                                <p>水池里养着一群鱼，由于缺乏外界刺激，这些鱼变得死气沉沉，容易死亡。渔民偶然把几条鲇鱼放在这群鱼里，却发现一个奇怪的现象：由于鲇鱼喜欢挤来挤去，整个水池里的鱼都被带动起来而显得生机勃勃，所以渔民喜欢放几条鲇鱼在里面增加全体鱼的活力与寿命。在经济……</p>
                            </div>
                        </div>
                    </div>
                    <div id="art" class="art2">
                        <div class="art-left">
                            <div class="tit">
                                <h3><a href="">共生效应：互相促进，共同成长</a></h3>
                                <p>2020-1-7 09:13</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/45.png" alt=""></a>
                                <p>最近，小编看到一个段子：买东西送了一个鼠标垫，这有了鼠标垫吧，总得买个鼠标配着吧，这有了鼠标，没有电脑怎么行，有了电脑总要有个电脑桌吧，电脑桌放哪呢？要有个房子，房子总不能空着没人住吧，对，要娶个老婆，有了老婆孩子也必须要有啊……就这样，我走……</p>
                            </div>
                        </div>
                        <div class="art-left art-right">
                            <div class="tit">
                                <h3><a href="">十大心理效应之——破窗效应</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557210509501&di=6bdb7b2f707fc4c2b43d631fbd0b6275&imgtype=0&src=http%3A%2F%2Fs15.sinaimg.cn%2Fmw690%2F001IcWPTzy70vKXvR4a8e%26690" alt=""></a>
                                <p>心理学的研究上有个现象叫做“破窗效应”，就是说，一个房子如果窗户破了，没有人去修补，隔不久，其它的窗户也会莫名其妙的被人打破 ； 一面墙，如果出现一些涂鸦没有清洗掉，很快的，墙上就布满了乱七八糟，不堪入目的东西。一个很干净的地方，人会不好意思……</p>
                            </div>
                        </div>
                    </div>
                    <div id="art" class="art2">
                        <div class="art-left">
                            <div class="tit">
                                <h3><a href="">十大心理效应之——责任分散效应</a></h3>
                                <p>2020-1-7 09:13</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/43.png" alt=""></a>
                                <p>1964年3月13日夜3时20分，在美国纽约郊外某公寓前，一位叫朱诺比白的年轻女子在结束酒巴间工作回家的路上遇刺。当她绝望地喊叫：“有人要杀人啦!救命!救命!”听到喊叫声，附近住户亮起了灯，打开了窗户，凶手吓跑了。当一切恢复平静后，凶手又返回作案。当她又叫……</p>
                            </div>
                        </div>
                        <div class="art-left art-right">
                            <div class="tit">
                                <h3><a href="">窗帘现象</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/44.png" alt=""></a>
                                <p>水池里养着一群鱼，由于缺乏外界刺激，这些鱼变得死气沉沉，容易死亡。渔民偶然把几条鲇鱼放在这群鱼里，却发现一个奇怪的现象：由于鲇鱼喜欢挤来挤去，整个水池里的鱼都被带动起来而显得生机勃勃，所以渔民喜欢放几条鲇鱼在里面增加全体鱼的活力与寿命。在经济、文化……</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 人物专访 -->
                <div class="layui-tab-item art">
                    <div id="art">
                        <div class="art-left">
                            <div class="tit">
                                <h3><a href="">浙大教授介绍最新心理学研究：大声说出“我讨厌”……</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/40.png" alt=""></a>
                                <p>最近，浙江大学管理学院著名的网红教授周欣悦提出：其实不需要“剁手”，只要大声说出“我喜欢”或“我讨厌”，就会感觉很爽。其实这种表达随处可见。看篮球比赛，场边一群人会津津有味地讨论是否喜欢某个运动员；逛街的时候，人们热衷于讨论是否喜欢橱窗里新一季的……</p>
                            </div>
                        </div>
                        <div class="art-left art-right">
                            <div class="tit">
                                <h3><a href="">如何帮助在心理健康问题中挣扎的朋友</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="https://img.ydlcdn.com/file/2018/11/17/shgbt29ophw0gfsh.jpg" alt=""></a>
                                <p>前不久，布里斯托大学的学生和代表，共谈学生心理健康危机和大学中相关规定的话题。学生们的各种活动都在不断促使大学为学生心理健康提供更多的支持与服务，但事实上，当下学生群体自身也有许多应该做的事，来为身边陷入心理健康问题的同伴提供支持和帮助。作为剑桥大……</p>
                            </div>
                        </div>
                    </div>
                    <div id="art" class="art2">
                        <div class="art-left">
                            <div class="tit">
                                <h3><a href="">比起自尊，每个人更需要自我同情</a></h3>
                                <p>2020-1-7 09:13</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="https://img.ydlcdn.com/file/2018/10/23/d83he7omz49elbio.jpg" alt=""></a>
                                <p>无论是糟糕的销售季度，升职无望，或与同事发生冲突，当人们在工作中遭遇种种挫败时，通常以两种方式作出回应。要么出于自卫责备他人；要么自责。不幸的是，这两种回应都于事无补。用自卫来逃避责任可以减轻失败的痛楚，但也要付出学费。另一方面，自责只能换来一……</p>
                            </div>
                        </div>
                        <div class="art-left art-right">
                            <div class="tit">
                                <h3><a href="">心理咨询：为什么优秀的孩子越容易出现抑郁症？</a></h3>
                                <p>2020-9-9 19:40</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557209491766&di=f75dcb413fada00f21a85e380f343e4e&imgtype=0&src=http%3A%2F%2Fupload-images.jianshu.io%2Fupload_images%2F2804351-501e715668b2e4a9.jpg" alt=""></a>
                                <p>我找不到儿子了，你们能不能帮帮我……”近日，一位父亲从外地来到兰州向记者求助。他说，儿子去年大学毕业后一直没有找到工作，情绪非常不好，他感觉儿子患有抑郁症。在电话里，这位父亲叙述了儿子考上大学之后的种种情绪变化。幸运的是，在求助的第二天，在民警的帮助……</p>
                            </div>
                        </div>
                    </div>
                    <div id="art" class="art2">
                        <div class="art-left">
                            <div class="tit">
                                <h3><a href="">躁郁症患者的两极人生</a></h3>
                                <p>2020-1-7 09:13</p>
                            </div>
                            <div class="art-mid">
                                <a href=""><img src="/images/content/knowledge/41.png" alt=""></a>
                                <p>1995年的一个冬日，24岁的北京人陈阳被两名同事“押”上了从深圳回京的飞机。置身于三万英尺的高空，除了发动机的轰鸣，陈阳听不见任何声音。不安和焦虑一点点侵袭了他，憋了好一会儿，他终于忍不住了，使出全身的劲儿朝舷窗大喊。同事们并不意外。此前，他在深圳的公司……</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--引入尾部-->
<%- include("../part/foot",{js:[]})%>
