<%- include("part/header",{title:"长治学院学生心理健康",css:["part/banner"]})%>
<!--引入轮播图-->
<%- include("part/banner")%>
<!--主体内容-->
<div id="content">
    <div class="section talking w-m">
        <div class="part-title">
            <h2><a href="/talk">交流</a></h2>
            <ul>
                <li><a href="/talk/talk-consultation">心理咨询</a></li>
                <li><a href="/talk/talk-pourout">心理倾诉</a></li>
                <li><a href="/talk/talk-QA">心理问答</a></li>
            </ul>
        </div>
        <div class="talking-con">
            <div class="talking-banner clearfix">
                <ul>
                    <li>
                        <div class="teacher">
                            <div class="photo">
                                <a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
                            </div>
                            <div class="tea-intr">
                                <h3><a href="">方莲</a></h3>
                                <p>心理动力学取向咨询师</p>
                            </div>
                        </div>
                        <div class="tea-info">
                            <p><span>311</span>名学生向她咨询</p>
                            <div class="degree">
                                <span>好评度：</span>
                                <i></i>
                            </div>
                        </div>
                        <div class="consult-btn">
                            <a href=""><span>咨询</span></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="talking-banner clearfix">
                <ul>
                    <li>
                        <div class="teacher">
                            <div class="photo">
                                <a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
                            </div>
                            <div class="tea-intr">
                                <h3><a href="">王筱菲</a></h3>
                                <p>大数据2102班辅导员</p>
                            </div>
                        </div>
                        <div class="tea-info">
                            <p>已经帮助<span>1145</span>名学生</p>
                            <p>倾听时长<span>9852</span>分钟</p>
                            <div class="degree td">
                                <span>好评度：</span>
                                <i></i>
                            </div>
                        </div>
                        <div class="consult-btn">
                            <a href=""><span>倾诉</span></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="ans-ques">
                <div class="ques">
                    <h3><a href="">心思极度敏感的人怎么办？</a></h3>
                    <div class="btn2 btn22">
                        <a href=""><span>关注问题</span></a>
                    </div>
                </div>
                <div class="ans">
                    <div class="ans-user">
                        <div class="user-photo">
                            <a href=""><img src="" alt=""></a>
                        </div>
                        <div class="user-name">
                            <a href=""><span>董妮妮</span></a>
                        </div>
                        <span class="span">回答</span>
                        <div class="btn2 btn2-right btn22-right">
                            <a href=""><span>收藏回答</span></a>
                        </div>
                    </div>
                    <div class="ans-con">
                        <p>回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容回答内容……</p>
                    </div>
                    <div class="ans-info">
                        <span>20分钟前</span>
                        <span class="ainfo-span2">|</span>
                        <span class="ainfo-span2">102.1k人浏览</span>
                        <div class="btn rightbtn-mid">
                            <a href=""><span>我来答</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section test w-m">
        <div class="part-title">
            <h2><a href="/test">测评</a></h2>
            <ul>
                <li>
                    <p class="etitle-left"><a href="">健康</a></p>
                    <p><a href="">人际</a></p>
                </li>
                <li>
                    <p class="etitle-left"><a href="">情感</a></p>
                    <p><a href="">成长</a></p>
                </li>
                <li>
                    <p class="etitle-left"><a href="">职场</a></p>
                    <p><a href="">能力</a></p>
                </li>
            </ul>
        </div>
        <div class="test-con">
            <div class="pic">
                <a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
            </div>
            <div class="test-intr">
                <h3><a href="">PSTRI压力测试</a></h3>
                <p>帮助你大致了解自己的压力</p>
            </div>
            <div class="test-info">
                <p><span>382</span>名已测</p>
                <p><span>24</span>评论</p>
            </div>
            <div class="consult-btn btn-center">
                <a href=""><span>测试</span></a>
            </div>
        </div>
        <div class="test-con">
            <div class="pic">
                <a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
            </div>
            <div class="test-intr">
                <h3><a href="">PSTRI压力测试</a></h3>
                <p>帮助你大致了解自己的压力</p>
            </div>
            <div class="test-info">
                <p><span>382</span>名已测</p>
                <p><span>24</span>评论</p>
            </div>
            <div class="consult-btn btn-center">
                <a href=""><span>测试</span></a>
            </div>
        </div>
        <div class="test-banner">
            <a href=""><img src="" alt=""></a>
        </div>
    </div>
    <div class="section kno w-m">
        <div class="part-title">
            <h2><a href="/knowledge">知识</a></h2>
            <ul>
                <li><a href="/knowledge/knowledge-classes">心理课程</a></li>
                <li><a href="/knowledge/knowledge-articles">心理文章</a></li>
                <li><a href="/knowledge/knowledge-books">心理书籍</a></li>
            </ul>
        </div>
        <div class="test-con">
            <div class="vid">
                <a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
            </div>
            <div class="test-intr">
                <h3><a href="">清华大学公开课：大学生心理健康</a></h3>
            </div>
            <div class="consult-btn btn-center">
                <a href=""><span>学习</span></a>
            </div>
        </div>
        <div class="test-con">
            <div class="book">
                <a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
            </div>
            <div class="test-intr">
                <h3><a href="">乌合之众：大众心理研究</a></h3>
            </div>
            <div class="consult-btn btn-center">
                <a href=""><span>阅读</span></a>
            </div>
        </div>
        <div class="article-con">
            <div class="article-title">
                <div class="article-pic">
                    <a href=""><img src="" alt=""></a>
                </div>
                <div class="atitle">
                    <h3><a href="">过分追求健康可导致心理疾病 </a></h3>
                    <div class="btn article-btn0">
                        <a href=""><span>阅读</span></a>
                    </div>
                </div>
            </div>
            <div class="ans-con art-con">
                <p>健康是我们每个人的追求，大家都希望自己过的舒舒服服开开心心，而不是有疾病缠身，特别是在过年过节的时候，更加需要有一个健康的身体……</p>
            </div>
            <div class="ans-info art-info">
                <div class="user-name username-left">
                    <a href=""><span>董妮妮</span></a>
                </div>
                <p>2020-9-9 19:40</p>
                <div class="info-right">
                    <p><span>10</span>赞</p>
                    <p><span>10</span>评论</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section fun w-m">
        <div class="part-title">
            <h2><a href="/fun">娱乐</a></h2>
            <ul>
                <li>
                    <p class="etitle-left"><a href="/fun/fun-FM">FM</a></p>
                    <p><a href="/fun/fun-music">音乐</a></p>
                </li>
                <li>
                    <p class="etitle-left"><a href="/fun/fun-images">图片</a></p>
                    <p><a href="/fun/fun-shortFilms">短片</a></p>
                </li>
                <li>
                    <p class="etitle-left"><a href="/fun/fun-cartoons">漫画</a></p>
                    <p><a href="/fun/fun-jokes">笑话</a></p>
                </li>
                <li>
                    <p class="etitle-left2"><a href="/fun/fun-healing">治愈</a></p>
                </li>
            </ul>
        </div>
        <div class="test-con">
            <div class="vid">
                <a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
            </div>
            <div class="test-intr">
                <h3><a href="">有事做 有人爱 有所期待</a></h3>
            </div>
            <div class="consult-btn btn-center">
                <a href=""><span>收听</span></a>
            </div>
        </div>
        <div class="test-con">
            <div class="vid">
                <a href="funimages-details.html"><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
            </div>
            <div class="test-intr">
                <h3><a href="funimages-details.html">为什么会转了？</a></h3>
            </div>
            <div class="consult-btn btn-center">
                <a href="funimages-details.html"><span>看图</span></a>
            </div>
        </div>
        <div class="cartoon-con">
            <ul>
                <li>
                    <a href="funcartoons-page.html"><img src="" alt=""></a>
                </li>
                <li>
                    <a href="funcartoons-page.html"><img src="" alt=""></a>
                </li>
                <li>
                    <a href="funcartoons-page.html"><img src="" alt=""></a>
                </li>
                <li id="cartoonpic-right">
                    <a href="funcartoons-page.html"><img src="" alt=""></a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="funcartoons-page.html"><img src="" alt=""></a>
                </li>
                <li>
                    <a href="funcartoons-page.html"><img src="" alt=""></a>
                </li>
                <li>
                    <a href="funcartoons-page.html"><img src="" alt=""></a>
                </li>
                <li id="cartoonpic-right">
                    <a href=""><img src="" alt=""></a>
                </li>
            </ul>
            <div class="ctitle">
                <h3><a href="funcartoons-page.html">情绪</a></h3>
                <div class="btn cartoon-btn">
                    <a href="funcartoons-page.html"><span>看漫画</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="section fun w-m">
        <div class="test-con music-con">
            <div class="music-pic">
                <a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
            </div>
            <div class="test-intr music-intr">
                <h3><a href="">Bird of Prey</a></h3>
                <p>George Winston</p>
            </div>
            <div class="consult-btn btn-center">
                <a href=""><span>播放</span></a>
            </div>
        </div>
        <div class="short-film">
            <div class="vid"></div>
            <h3>爱的真意-重新认识爱情</h3>
            <div class="shortfilm-intr">
                <p>当她开始失明，她还是固执地去做和平常一样的……</p>
                <a href=""><i></i></a>
                <div class="btn">
                    <a href=""><span>看短片</span></a>
                </div>
            </div>
        </div>
        <div class="short-film joke">
            <div class="vid"><a href="funjokes-details.html"></a></div>
            <h3><a href="funjokes-details.html">物理爱好者</a></h3>
            <div class="shortfilm-intr">
                <p>笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容笑话内容……</p>
                <a href=""><i></i></a>
                <div class="btn">
                    <a href="funjokes-details.html"><span>戳笑点</span></a>
                </div>
            </div>
        </div>
        <div class="cartoon-con heal heal2">
            <div id="healpic">
                <div id="healpic-big">
                    <a href=""><img src="" alt=""></a>
                </div>
                <div id="healpicsmall">
                    <div id="healpic-small">
                        <div class="healpic-small">
                            <a href=""><img src="" alt=""></a>
                        </div>
                        <div class="healpic-small">
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                    <div id="healpic-small">
                        <div class="healpic-small">
                            <a href=""><img src="" alt=""></a>
                        </div>
                        <div class="healpic-small">
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>

            </div>
            <p>轻拾月光，听风声缱绻，时光里的暖香化作笔尖的诗行，如刹时花开。</p>
            <div class="heal-info">
                <a href=""><span>萧妮妮</span></a>
                <div class="btn heal-btn">
                    <a href=""><span>治愈系</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="section play w-m">
        <div class="part-title">
            <h2><a href="/play">乐园</a></h2>
            <ul>
                <li><a href="/play/play-treeHoles">树洞</a></li>
                <li><a href="/play/play-fortunate">小确幸</a></li>
                <li><a href="/play/play-smileWall">微笑墙</a></li>
            </ul>
        </div>
        <div class="play-left">
            <div class="treehole-con">
                <p>压力真的很大，希望有个人可以聊天。</p>
                <div class="treehole-box">
                    <div class="treeh-info">
                        <span>匿名</span>
                        <span>|</span>
                        <span>10分钟前</span>
                        <span>|</span>
                        <span>67人浏览</span>
                        <span>|</span>
                        <span>12评论</span>
                    </div>
                    <div class="btn">
                        <a href=""><span>抱抱</span></a>
                    </div>
                </div>
            </div>
            <div id="smilewall-con" class="smilewall-con">
                <div class="smilepic">
                    <div id="smilepic-big">
                        <a href=""><img src="" alt=""></a>
                    </div>
                    <div id="smilepic-small">
                        <div class="smilepic-sma">
                            <a href=""><img src="" alt=""></a>
                        </div>
                        <div class="smilepic-sma">
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="user-focus">
                    <div class="user-small">
                        <div class="usersmall-top">
                            <div class="photo">
                                <a href=""><!-- <img src="images/content/talking/01.jpeg" alt=""> --></a>
                            </div>
                            <div class="usersmall-intr">
                                <h3><a href="">高兴妍</a></h3>
                                <p>大数据2102班</p>
                            </div>
                        </div>
                        <div class="btn">
                            <a href=""><span>关注</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cartoon-con heal realhappy">
            <ul>
                <li>
                    <a href=""><img src="" alt=""></a>
                </li>
                <li>
                    <a href=""><img src="" alt=""></a>
                </li>
            </ul>
            <p>大雨过后，是一天中最温柔和热闹的时刻。</p>
            <p>下班回家，菜市场买菜，湿漉漉的地面，还有温柔的夕……</p>
            <div class="heal-info rhappy-info">
                <a href=""><span>张毅</span></a>
                <div class="btn">
                    <a href=""><span>小确幸</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--引入尾部-->
<%- include("part/foot",{js:["animation","part/banner"]})%>
